<template>
<transition name="slide-fade">
    <q-layout class="">
        <q-table title="Usuarios" :data="data" :pagination="pagination" :loading="loading" color="primary" :columns="columns" :filter="filter" row-key="name">
            <q-tr slot="body" slot-scope="props" :props="props">
                <q-td key="username" :props="props">{{ props.row.username }}</q-td>
                <q-td key="name" :props="props">{{ props.row.name }}</q-td>
                <q-td key="number_nit" :props="props">{{ props.row.number_nit }}</q-td>
                <q-td key="mail" :props="props">{{ props.row.mail }}</q-td>
                <q-td key="phone" :props="props">{{ props.row.phone }}</q-td>
                <q-td key="amount" :props="props">{{ props.row.amount }}</q-td>
                
            </q-tr>
              <template slot="top-left" slot-scope="props">
                <q-layout>
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4  rowChild">
                            <q-field>
                            <q-search float-label="Buscar"
                                        color="secondary"
                                        v-model="filter" />
                            </q-field>
                        </div>
                        <div class="col-sm-12 col-xs-10 col-md-7 col-lg-7 q-mt-sm rowChild">
                            <q-field>
                                <date-range-picker 
                                    v-model="dateRange" 
                                    @update="changeDateRange()"
                                    :locale-data="locale"
                                    :opens="opens"   
                                    :ranges="ranges"   
                                    :showDropdowns="showDropdowns" 
                                    :autoApply ="autoApply"
                                    style="cursor: pointer;"
                                >
                                    <div  style="min-width: 550px;" slot="input" slot-scope="picker">
                                        <q-field
                                          icon="date_range"
                                          style="cursor: pointer;"
                                        >
                                         <q-input 
                                         :value="(moment(picker.startDate).format('YYYY/MM/DD')==moment().format('YYYY/MM/DD'))?
                                                moment(picker.startDate).format('dddd,  DD  MMMM  YYYY'):
                                                moment(picker.startDate).format('dddd,  DD  MMMM  YYYY') + ' - '+ moment(picker.endDate).format('dddd,  DD  MMMM  YYYY')"
                                         style="cursor: pointer;"
                                          />
                                        </q-field>
                                    </div>
                                </date-range-picker>
                            </q-field>
                        </div>
                        <div class="col-sm-12 col-xs-2 col-md-1 col-lg-1  rowChild">
                             <q-tooltip> Descargar </q-tooltip>
                            <download-excel
                                :data   = "data"
                                :fields  = "json_headers"
                                >
                                <q-btn  size="20px" class="q-mt-sm" color="positive" round dense icon="assignment_returned"  />
                            </download-excel>     
                        </div>
                       
                    </div>
                </q-layout>
            </template>
        </q-table>

        <!-- Non-expandable without being on a QLayout -->

       
       
    </q-layout>

</transition>
</template>

<script>
import * as notifyMessage from '../../script/notify'
import JsonExcel from 'vue-json-excel'

import DateRangePicker from 'vue2-daterange-picker'
import moment from 'moment'
import 'vue2-daterange-picker/dist/lib/vue-daterange-picker.min.css'
export default {
    components: {
        'date-range-picker': DateRangePicker,
        'download-excel':JsonExcel 
    },
    created() {
        this.getData()
    },
    data() {
        return {
            
            data: [],

            columns: [{
                    name: 'username',
                    required: true,
                    label: 'Usuario',
                    align: 'left',
                    field: 'username',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                {
                    name: 'name',
                    required: true,
                    label: 'Nombre Facturación',
                    align: 'left',
                    field: 'name',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                {
                    name: 'number_nit',
                    required: true,
                    label: 'NIT',
                    align: 'left',
                    field: 'number_nit',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                {
                    name: 'mail',
                    required: true,
                    label: 'Correo Electrónico',
                    align: 'left',
                    field: 'mail',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                {
                    name: 'phone',
                    required: true,
                    label: 'Teléfono',
                    align: 'left',
                    field: 'phone',
                    sortable: true,
                    classes: 'my-clas',
                    style: 'width: 500px'
                },
                {
                    name: 'amount',
                    required: true,
                    label: 'Monto',
                    align: 'left',
                    field: 'amount',
                    sortable: true,
                    classes: 'my-clas',
                    style: 'width: 500px'
                },
               
              

            ],
            pagination: {
                sortBy: null, // String, column "name" property value
                descending: false,
                page: 1,
                rowsPerPage: 0 // current rows per page being displayed
            },
            filter: '',
            loading : true,
            //props date range
            showDropdowns: false,
            autoApply: true,
            dateRange: { // used for v-model prop
                startDate: moment().format('YYYY/MM/DD') ,
                endDate: moment().format('YYYY/MM/DD'),
            },
            opens: "center",//which way the picker opens, default "center", can be "left"/"right"
            locale: {
                direction: 'ltr', //direction of text
                format: 'DD-MM-YYYY', //fomart of the dates displayed
                separator: ' - ', //separator between the two ranges
                applyLabel: 'Aplicar',
                cancelLabel: 'Cancelar',
                weekLabel: 'W',
                customRangeLabel: 'Custom Range',
                daysOfWeek: moment.weekdaysMin(), //array of days - see moment documenations for details
                monthNames: moment.monthsShort(), //array of month names - see moment documenations for details
                firstDay: 1, //ISO first day of week - see moment documenations for details
                showWeekNumbers: true //show week numbers on each row of the calendar
            },
            ranges: { //default value for ranges object (if you set this to false ranges will no be rendered)
                'Hoy': [moment(), moment()],
                'Ayer': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Semana Pasada': [moment().subtract(1, 'week').startOf('week'), moment().subtract(1, 'week').endOf('week')],
                'Este Mes': [moment().startOf('month'), moment().endOf('month')],
                'Mes Pasado': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                'Este Año': [moment().startOf('year'), moment().endOf('year')],
            },//json Download
            json_headers: {
                'Usuario': 'username',
                'Nombre Facturación': 'name',
                'NIT': 'number_nit',
                'Correo Electrónico': 'mail',
                'Teléfono': 'phone',
                'Monto': 'amount',
                
                
            },
            json_meta: [
                [
                    {
                        'key': 'charset',
                        'value': 'utf-8'
                    }
                ]
            ],
            

        }
    },
    methods: {
      
        getData() {
          
            var requestBody = {
                "sp": "spr_rpt_user_consumtion",
                "model": {
                    "date_start":this.dateRange.startDate,
                    "date_end":this.dateRange.endDate,
                    "id_school": window.localStorage.getItem("ID_SCHOOL")
                }
            }
         //   this.$q.loading.show()
            this.loading = true
            this.$root.sendData(requestBody).then((result) => {

              //  this.$q.loading.hide()
              this.loading = false
                this.data = result.data.data
                
            }).catch((error) => {
                notifyMessage.showNotifyErrorSrv(this.$q)
               // this.$q.loading.hide()
               this.loading = false
            });
        },
        changeDateRange(){
            console.log("changeDateRange")
            this.getData();
        }
      

    },
    mounted() {
        this.$root.$emit("SET_APP_SUBTITLE", "Reporte de Consumos")
        window.localStorage.setItem("CURRENT_EVENT","GET_DATA_REPORT_CONSUMPTION")
        this.$root.$on("GET_DATA_REPORT_CONSUMPTION", () => {
            this.getData()
        })
    },
    computed: {

    },

}
</script>

<style scope="local">
.q-table-top .q-table-control{
    width: 100%;
    padding: 0px
}
</style>
