<template>
  <q-modal v-model="dialog"
            minimized :content-css="{maxWidth: '60vw'}"
           @hide="hide">
    <q-toolbar color="indigo">
      <q-btn flat
             round
             dense
             v-close-overlay
             icon="close" />
      <q-toolbar-title>
        {{operation}}
      </q-toolbar-title>
      <q-btn color="positive"  label="Guardar" icon-right="save" :loading="loading" :disabled="!!loading" @click="submitObject" />
    </q-toolbar>
    <div>
      <q-layout class="">
        <h4 class="text-center mar-bottom-10">
        </h4>
        <div class="left">
          <div class="content layout-padding">
            <form id="form-signup">
              <div class="row justify-center">
                <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 rowChild">
                  <q-field>
                    <q-input v-model="object.name"
                             @blur="$v.object.name.$touch"
                             @keyup.enter="submitobject"
                             :error="$v.object.name.$error"
                             float-label="Nombre" />
                  </q-field>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6  rowChild">
                  <q-field :label-width="4">
                    <q-input v-model="object.description"
                             float-label="Descripcion"
                             @blur="$v.object.description.$touch"
                             @keyup.enter="submitobject"
                             :error="$v.object.description.$error" />
                  </q-field>
                </div>
                 <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6  rowChild">
                  <q-field>
                    <q-input prefix="Q "
                             v-model="object.price_prchase"
                             type="number"
                             float-label="Precio costo"
                             @blur="$v.object.price_prchase.$touch"
                             @keyup.enter="submitobject"
                             :error="$v.object.price_prchase.$error" />
                  </q-field>
                 </div>
                <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6  rowChild">
                    <q-field>
                        <q-input prefix="Q "
                                v-model="object.price_sale"
                                type="number"
                                float-label="Precio venta"
                                @blur="$v.object.price_sale.$touch"
                                @keyup.enter="submitobject"
                                :error="$v.object.price_sale.$error" />
                    </q-field>
                </div>
                 <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6  rowChild">
                  <q-field>
                    <q-select v-model="object.id_category"
                              float-label="Seleccione categoria"
                              filter-placeholder = "Búsqueda"
                              filter
                              @blur="$v.object.id_category.$touch"
                              :error="$v.object.id_category.$error"
                              :options="optionsCategory" />
                  </q-field>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6  rowChild">
                  <q-field>
                    <q-select v-model="object.id_state"
                              float-label="Seleccione estado"
                              filter-placeholder = "Búsqueda"
                              filter
                              @blur="$v.object.id_state.$touch"
                              :error="$v.object.id_state.$error"
                              :options="optionsState" />
                  </q-field>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="center">
          <label for="file"
                 class="shadow-2 label-upload  ">Seleccione Imagen</label>
        </div>
        <div class="center mar-top-5">
          <input type="file"
                 id="file"
                 class="btn-upload "
                 ref="file"
                 accept="image/*"
                 v-on:change="handleFileUpload()" />

          <div v-if="fileBase64 != null"
               class="container-img-menu">
            <img id="output"
                 :src=fileBase64
                 class="upload-image mar-top-10" />
          </div>
          <div v-else
               class="container-img-menu">
            <img id="output"
                 src="statics/svg/food.svg"
                 class="upload-image mar-top-10" />
          </div>
        </div>
      </q-layout>
    </div>
  </q-modal>
</template>

<script>
import {
    required,
    email,
    maxLength,
    minLength
} from 'vuelidate/lib/validators'
import * as notifyMessage from '../../script/notify'
import VMasker from 'vanilla-masker'
import {
    URL_BASE
} from '../../script/Constant'
export default {
    props: {
        id: Number,
        openedDialog: Boolean
    },
    computed:{
        dialog:{
            get: function () {
                this.resetValues()
                return this.openedDialog;
             },
   
            set: function (newValue) {
                this.resetValues()
                return  !this.openedDialog;
            }
            
        }
    },
    watch: {
        id: function (newValue, oldValue) {
            this.resetValues()
            if (newValue != null) {
                this.operation = 'Editar Menu'
                this.getDataByid(this.id)
            } else {
                this.operation = 'Agregar Menú'
                if (this.object.id_user != null) {

                }

            }
        }
    },
    validations: {
        object: {
            name: {
                required
            },
            description: {
                required
            },
            price_prchase: {
                required
            },
            price_sale: {
                required,
            },
            id_category: {
                required,
            },
            id_state: {
                required
            }

        },
    },
     data() {
        return {
            loading:false,
            optionsCategory: [],
            optionsState : [],
            object: {
                id_menu: null,
                name: null,
                description: null,
                stock: null,
                price_prchase: null,
                price_sale: null,
                id_category: null,
                id_user_create: null,
                id_user_update: null,
                id_state: 1,
                path_picture: null,
                id_school: window.localStorage.getItem("ID_SCHOOL")

            },
            openedModal: false,
            operation: 'Agregar Menú',
            user: {},
            file: '',
            fileBase64: null,
            
        }
    },
    created() {
        this.getDataCategory()
        this.getDataState()
    },
   
    methods: {

        submitObject() {
            this.$v.object.$touch()
            if (this.$v.object.$error) {

                if (this.$v.object.$error) {

                    notifyMessage.showNotify(this.$q, 0, "Por favor revise los campos de nuevo")
                    return

                }

            } else {

                // this.saveData(this.object)
                this.submitFile(this.object)
            }
            //this.$router.push('Home')
        },
        saveData(model) {
          
            this.$q.loading.show()
            if (this.object.id_user_create == null) {
                this.object.id_user_create = window.localStorage.getItem("USER_ID")
            } else {
                this.object.id_user_update = window.localStorage.getItem("USER_ID")
            }
           
            var requestBody = {
                "sp": "sp_insUpdMenu",
                "model": this.object
            }

            this.$q.loading.show()
            this.loading=true;
            this.$root.sendData(requestBody).then((result) => {

                let message = result.data.data[0].Message
                let statusResponse = result.data.data[0].Result

                let code = result.data.code
                if (code == 200) {
                    if (statusResponse == 'Success') {

                        notifyMessage.showNotify(this.$q, code, message)
                        this.$q.loading.hide()

                    } else {
                        this.$q.loading.hide()
                        notifyMessage.showNotify(this.$q, 0, message)

                    }
                    this.openedModal = !this.openedModal
                    this.$root.$emit("GET_DATA_MENU")
                    this.$root.$emit("CLOSE_DIALOG_MENU")
                this.loading=false;
                }

                console.log(result)

            }).catch((error) => {
                notifyMessage.showNotifyErrorSrv(this.$q)
                this.$q.loading.hide()
                 this.loading=false;
                console.log(error)

            });

        },
        getDataByid(id_menu) {
            let model = {
                "id_menu": id_menu,
                "id_school": window.localStorage.getItem("ID_SCHOOL"),
            }
            var requestBody = {
                "sp": "sp_getMenuAdmin",
                "model": model
            }
            this.$q.loading.show()
            this.$root.sendData(requestBody).then((result) => {
                this.$q.loading.hide()
                let data = result.data.data[0]
                this.object.name = data.name
                this.object.description = data.description
                this.object.stock = data.stock
                this.object.price_prchase = data.price_prchase
                this.object.price_sale = data.price_sale
                this.object.id_category = data.id_category
                this.object.id_user_update = window.localStorage.getItem("USER_ID")
                this.object.id_user_create = data.id_user_create
                this.object.id_state = data.id_state
                this.object.id_menu = data.id_menu
                this.object.path_picture = data.path_picture
                
                this.getPictures(this.object)

            }).catch((error) => {
                notifyMessage.showNotifyErrorSrv(this.$q)
                this.$q.loading.hide()
                console.log(error)
                this.resetValues()
            });
        },
        getDataCategory() {
            var requestBody = {
                "sp": "sp_getCategory",
                "model": "[]"
            }
            this.$q.loading.show()
            this.$root.sendData(requestBody).then((result) => {
                this.$q.loading.hide()
                this.optionsCategory = this.formaterData(result.data.data)
            }).catch((error) => {
                notifyMessage.showNotifyErrorSrv(this.$q)
                this.$q.loading.hide()
                console.log(error)
                this.resetValues()
            });
        },
         getDataState() {
            var requestBody = {
                "sp": "sp_getState",
                "model": "[]"
            }
            this.$q.loading.show()
            this.$root.sendData(requestBody).then((result) => {
                this.$q.loading.hide()
                this.optionsState = this.formaterData(result.data.data)
            }).catch((error) => {
                notifyMessage.showNotifyErrorSrv(this.$q)
                this.$q.loading.hide()
                console.log(error)
                this.resetValues()
            });
        },
        formaterData(data) {
            let dataCategory = []
            data.forEach(item => {
                let model = {}
                model.label = item.description
                model.value = item.id
                dataCategory.push(model)
            });
            return dataCategory
        },
        submitFile(model) {

            let formData = new FormData();
            formData.append('file', this.file);
            if (this.file) {
                this.$root.sendFile(formData).then((response) => {

                        this.object.path_picture = response.data.Path_file
                        console.log(response)
                        this.saveData(model)

                    })
                    .catch((error) => {

                        notifyMessage.showNotify(this.$q, 0, "Error subiendo la imagen")
                        return

                    });
            } else {
                this.saveData(model)
            }

        },

        handleFileUpload() {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
            this.file = this.$refs.file.files[0];
        },
        getPictures(item) {

            if (item.path_picture != null) {
                this.$q.loading.show()
                let requestBody = {
                    "path_picture ": item.path_picture
                }

                this.$root.getFile(requestBody).then((result) => {
                    console.log(result)
                    let base64 = result.data.File
                    this.fileBase64 = "data:image/png;base64, " + base64
                    this.$q.loading.hide()
                }, (error) => {
                    notifyMessage.showNotify(this.$q, 0, "Error al cargar imagen")
                    this.$q.loading.hide()
                })
            }

        },

        objectModal() {

            this.openedObject = true

        },
        resetValues() {
            this.object.name = null
            this.object.description = null
            this.object.stock = null
            this.object.price_prchase = null
            this.object.price_sale = null
            this.object.id_category = null
            this.object.id_user_update = null
            this.object.id_user_create = null
            this.object.id_state = 1
            this.object.id_menu = null
            this.object.path_picture = null
          
            this.fileBase64 = null
            this.file = null
            this.$v.$reset(); 
        },


        hide() {
            this.$root.$emit("CLOSE_DIALOG_MENU")
        }

    },
    
    mounted() {

      
    },
    

}
</script>

<style>

</style>
