<template>
  <transition name="slide-fade">
    <q-layout class="">
      <q-table title="Usuarios"
               :data="data"
               :loading="loading"
               color="primary"
               :columns="columns"
               :filter="filter"
               row-key="name">
        <q-tr slot="body"
              slot-scope="props"
              :props="props">
          <q-td>
            <div v-if="props.row.path_picture != null">
              <vue-load-image>
                <img slot="image"
                     :src="urlMedia + props.row.path_picture"
                     class="img-menu">
                <img slot="preloader"
                     src="statics/img/loading1.gif"
                     class="img-menu" />
                <div slot="error"
                     class="img-menu">Error al cargar</div>
              </vue-load-image>
            </div>
            <div v-else>
              <img src="statics/svg/food.svg"
                   alt="Img_menu"
                   class="img-menu" />
            </div>
          </q-td>
          <q-td key="name"
                :props="props">{{ props.row.name }}</q-td>
          <q-td key="description"
                :props="props">{{ props.row.description }}</q-td>
          <q-td key="category"
                :props="props">{{ props.row.category }}</q-td>
          <q-td key="price_prchase"
                :props="props">Q {{ props.row.price_prchase }}</q-td>
          <q-td key="price_sale"
                :props="props">Q {{ props.row.price_sale }}</q-td>
         
          <q-td key="state" :props="props"> 
                <q-icon v-if="props.row.id_state==1" name="check_circle" color="green" size="24px"> 
                    <q-tooltip> {{props.row.state}} </q-tooltip>
                </q-icon>
                 <q-icon v-if="props.row.id_state==2" name="cancel" color="red" size="24px"> 
                    <q-tooltip> {{props.row.state}} </q-tooltip>
                </q-icon>
            </q-td>
          <q-td label="Acciones">
            <q-btn color="primary"
                   flat
                   @click="update(props.row.id_menu)">
              <i class="fas fa-pen"></i>
              <q-tooltip> Editar </q-tooltip>
            </q-btn>
            <q-btn color="negative"
                   flat
                   @click="dialogDelete(props.row.id_menu)">

              <i class="fas fa-minus-circle"></i>
                <q-tooltip> Eliminar </q-tooltip>
            </q-btn>
          </q-td>
        </q-tr>
         <template slot="top-left" slot-scope="props">
                <q-layout>
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4  rowChild">
                            <q-field>
                            <q-search float-label="Buscar"
                                        color="secondary"
                                        v-model="filter" />
                            </q-field>
                        </div>
                        <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4  rowChild">
                            <q-field>
                            <q-select float-label="Categoria"
                                        v-model="id_category"
                                        :options="categoryItems"
                                        filter-placeholder="Búsqueda"
                                        filter
                                        @input="getData()"
                                        clearable
                                        separator />
                            </q-field>
                        </div>
                      <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3  rowChild">
                            <q-field>
                            <q-select float-label="Estado"
                                        v-model="id_state"
                                        :options="stateItems"
                                        filter-placeholder="Búsqueda"
                                        filter
                                        @input="getData()"
                                        clearable
                                        separator />
                            </q-field>
                        </div>
                        <div class="col-sm-12 col-xs-12 col-md-4 col-lg-1  rowChild">
                             <q-btn  size="20px" class="q-mt-sm" flat round dense :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'" @click="props.toggleFullscreen" />
                         </div>
                       
                    </div>
                </q-layout>
            </template>
      </q-table>

      <menu-add :id="idMenu"
                :openedDialog="opened"></menu-add>
      <q-btn round
             color="primary"
             @click="addItem"
             class="fixed color-indigo shadow-2 fab"
             icon="add"
             style="right: 18px; bottom: 18px" >
        <q-tooltip> Nuevo </q-tooltip>
      </q-btn>
    </q-layout>
  </transition>
</template>

<script>
import * as notifyMessage from '../../script/notify'
import MenuAdd from './MenuAdd'
import {
    URL_MEDIA_APP
} from '../../script/Constant'
import VueLoadImage from 'vue-load-image'
export default {
    components: {
        MenuAdd,
        'vue-load-image': VueLoadImage
    },
    created() {
        this.getData();
        this.getSelect();
    },
    data() {
        return {
            urlMedia : URL_MEDIA_APP,
            data: [],
            idMenu: null,
            opened: false,
            columns: [{
                    name: 'image',
                    required: true,
                    label: 'Imagen',
                    align: 'left',
                    field: 'image',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                {
                    name: 'name',
                    required: true,
                    label: 'Nombre',
                    align: 'left',
                    field: 'name',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                {
                    name: 'description',
                    required: true,
                    label: 'Descripcion',
                    align: 'left',
                    field: 'description',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                {
                    name: 'category',
                    required: true,
                    label: 'Categoria',
                    align: 'left',
                    field: 'category',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                {
                    name: 'price_prchase',
                    required: true,
                    label: 'Precio costo',
                    align: 'left',
                    field: 'price_prchase',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                {
                    name: 'price_sale',
                    required: true,
                    label: 'Precio venta ',
                    align: 'left',
                    field: 'price_sale ',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                {
                    name: 'state',
                    required: true,
                    label: 'Estado',
                    align: 'left',
                    field: 'state',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },

                {
                    name: 'actions',
                    required: true,
                    label: 'Acciones',
                    align: 'left',
                    field: 'actions',
                    sortable: false,
                    classes: 'my-class',
                    style: 'width: 500px'
                },

            ],

            filter: '',
            loading: false,
            categoryItems:[],
            id_category:null,
            stateItems:[],
            id_state:null,
            id_school: window.localStorage.getItem("ID_SCHOOL")

        }
    },
    methods: {
        addItem() {
            this.idMenu = null
            this.opened = true
            // this.$root.$emit("OPEN_MENU_MODAL", null)

        },
        getData() {

            var requestBody = {
                "sp": "sp_getMenuAdmin",
                "model": {
                    id_school: window.localStorage.getItem("ID_SCHOOL"),
                    id_category:this.id_category,
                    id_state: this.id_state
                }
            }
            //  this.$q.loading.show()
            this.loading = true
            this.$root.sendData(requestBody).then((result) => {

                // this.$q.loading.hide()
                this.loading = false
                this.data = result.data.data
                console.log(result)
              //  this.getPictures(this.data)
            }).catch((error) => {
                notifyMessage.showNotifyErrorSrv(this.$q)
                //   this.$q.loading.hide()
                this.loading = false
            });
        },
          getSelect() {
            var requestBody = {
                "sp": "sp_load_select_items",
                "model": {option:'category'}
            }
            this.$q.loading.show()
            this.$root.sendData(requestBody).then((result) => {
                this.$q.loading.hide()
                this.categoryItems = result.data.data;
            }).catch((error) => {
                notifyMessage.showNotifyErrorSrv(this.$q)
                this.$q.loading.hide()
            });
              requestBody = {
                "sp": "sp_load_select_items",
                "model": {option:'state'}
            }
            this.$q.loading.show()
            this.$root.sendData(requestBody).then((result) => {
                this.$q.loading.hide()
                this.stateItems = result.data.data;
            }).catch((error) => {
                notifyMessage.showNotifyErrorSrv(this.$q)
                this.$q.loading.hide()
            });
            
        },
      update(id) {
            this.opened = true
            this.idMenu = id
            //this.$root.$emit("OPEN_MENU_MODAL", id)
        },
        deleteUser(id) {
            let model = {
                "id_menu": id,
                "id_user_delete": window.localStorage.getItem("USER_ID"),

            }
            var requestBody = {
                "sp": "sp_delMenu",
                "model": model
            }

            this.$q.loading.show()
            this.$root.sendData(requestBody).then((result) => {

                let message = result.data.data[0].Message
                let statusResponse = result.data.data[0].Result
                let code = result.data.code
                notifyMessage.showNotify(this.$q, code, message)
                this.$q.loading.hide()
                this.openedModal = !this.openedModal
                this.getData()
            }).catch((error) => {
                notifyMessage.showNotifyErrorSrv(this.$q)
                this.$q.loading.hide()
            });

        },
        getPictures(data) {

            data.forEach((item, index) => {

                if (item.path_picture != null) {
                    let requestBody = {
                        "path_picture ": item.path_picture
                    }

                    this.$root.getFile(requestBody).then((result) => {
                        console.log(result)

                        let base64 = result.data.File
                        this.data[index].path_picture = "data:image/png;base64, " + base64
                    }, (error) => {
                        //  notifyMessage.showNotify(this.$q, 0, "Se ha producido un error ")
                    })
                }

            });
        },
        dialogDelete(id) {

            this.$q.dialog({
                title: 'Menu',
                message: '¿Desea eliminar el menu?',
                ok: 'Aceptar',
                preventClose: true,
                cancel: 'Calcelar'
            }).then(() => {
                this.deleteUser(id)

            }).catch(() => {

            })
        },

    },
    mounted() {
        this.$root.$emit("SET_APP_SUBTITLE", "Administración de Menús")

        window.localStorage.setItem("CURRENT_EVENT","GET_DATA_MENU")

        this.$root.$on("GET_DATA_MENU", () => {
            this.getData()
        })
        this.$root.$on("CLOSE_DIALOG_MENU", () => {
            this.opened = false
        })
    },
    computed: {

    },

}
</script>

<style scope="local">
.q-table-top .q-table-control{
    width: 100%;
    padding: 0px
}
</style>