<template>
<q-modal v-model="openedModal" minimized :content-css="{maxWidth: '60vw'}">
    <q-toolbar color="indigo">
        <q-btn flat round dense v-close-overlay icon="close" />
        <q-toolbar-title>
            {{operation}}
        </q-toolbar-title>
         <q-btn    color="positive"  label="Guardar" icon-right="save" :loading="loading" :disabled="!!loading"  @click="submitRegister" />
    </q-toolbar>
    <div>
        <q-layout class="">
            <div class="layout-padding">
                <div class="content ">
                    <form id="form-signup">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6  rowChild">
                                <q-field>
                                    <q-input v-model="register.username" @blur="$v.register.username.$touch" @keyup.enter="submitRegister" :error="$v.register.username.$error" float-label="Usuario" />
                                </q-field>
                            </div>
                             <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6  rowChild">
                                <q-field :label-width="3">
                                    <q-input v-model="register.password" float-label="Contraseña" @blur="$v.register.password.$touch" @keyup.enter="submitRegister" :error="$v.register.password.$error" type="password" />
                                </q-field>
                            </div>
                            <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6  rowChild">
                                <q-field>
                                    <q-input v-model="register.first_name" @blur="$v.register.first_name.$touch" @keyup.enter="submitRegister" :error="$v.register.first_name.$error" float-label="Nombres" />
                                </q-field>
                            </div>
                            <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6  rowChild">
                                <q-field>
                                    <q-input v-model="register.last_name" float-label="Apellidos" @blur="$v.register.last_name.$touch" @keyup.enter="submitRegister" :error="$v.register.last_name.$error" />
                                </q-field>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 rowChild ">
                                <q-field>
                                    <q-input v-model="register.mail" type="email" float-label="Correo" @blur="$v.register.mail.$touch" @keyup.enter="submitRegister" :error="$v.register.mail.$error" />
                                </q-field>
                            </div>
                            <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6  rowChild">
                                <q-field>
                                    <q-input v-mask="'#### ##### ####'" v-model="register.dpi" float-label="DPI" @blur="$v.register.dpi.$touch" @keyup.enter="submitRegister" :error="$v.register.dpi.$error" />
                                </q-field>
                            </div>
                            <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6  rowChild">
                                <q-field>
                                    <q-datetime v-model="register.birth_day" float-label="Fecha nacimiento" @blur="$v.register.birth_day.$touch" @keyup.enter="submitRegister" :error="$v.register.birth_day.$error" />
                                </q-field>
                            </div>
                            <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6  rowChild">
                                <q-field>
                                    <q-input v-mask="'#### ####'" v-model="register.phone" float-label="Numero telefono" placeholder="0" @blur="$v.register.phone.$touch" @keyup.enter="submitRegister" :error="$v.register.phone.$error" />
                                </q-field>
                            </div>
                             <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6  rowChild">
                                <q-field>
                                    <q-select
                                    float-label="Perfil"
                                    v-model="register.id_profile"
                                    :options="profileItems"
                                    filter-placeholder = "Búsqueda"
                                    filter
                                    separator
                                   />
                                </q-field>
                            </div>
                             <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6  rowChild">
                                <q-field>
                                    <q-select
                                    float-label="Colegio"
                                    v-model="register.id_school"
                                    :options="schoolItems"
                                    filter-placeholder = "Búsqueda"
                                    filter
                                    separator
                                    
                                   />
                                </q-field>
                            </div>
                            <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6  rowChild">
                                <q-field class="mar-top-10" label="Genero">
                                    <q-option-group inline keep-color type="radio" v-model="register.gender" @blur="$v.register.gender.$touch" @keyup.enter="submitRegister" :error="$v.register.gender.$error" :options="[
                                { label: 'Masculino', value: 'M' },
                                { label: 'Femenino', value: 'F' }

                                ]" />
                                </q-field>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </q-layout>
    </div>
</q-modal>
</template>

<script>
import {
    required,
    email,
    maxLength,
    minLength
} from 'vuelidate/lib/validators'
import * as notifyMessage from '../../script/notify'
import VMasker from 'vanilla-masker'
import {
    URL_BASE
} from '../../script/Constant'
export default {
    data() {
        return {
            loading:false,
            register: {
                id_user: null,
                cod_user: null,
                username: null,
                password: null,
                first_name: '',
                last_name: '',
                mail: '',
                dpi: null,
                birth_day: null,
                phone: null,
                gender: null,
                pin: null,
                url_picture: null,
                provider: null,
                id_profile:null,
                id_school:null
                
            },
            openedModal: false,
            operation: 'Registrar Usuario',
            user: {},
            profileItems:[],
            schoolItems:[],
        }
    },
    methods: {
        submitRegister() {
            this.$v.register.$touch()
            if (this.$v.register.$error) {

                console.log(this.pinNumbers)

                if (this.$v.register.$error) {

                    if (this.register.gender == null) {
                        notifyMessage.showNotify(this.$q, 0, "Seleccione genero")
                        return
                    }
                    notifyMessage.showNotify(this.$q, 0, "Por favor revise los campos de nuevo")
                    return

                }

            } else {
                
                this.saveData(this.register)
            }
            //this.$router.push('Home')
        },
        saveData(model) {
            console.log("click")
            this.$q.loading.show()
            var requestBody = {
                "sp": "sp_insUpdUserFromAdmin",
                "model": model
            }
            this.$q.loading.show()
            this.loading = true;
            this.$root.sendData(requestBody).then((result) => {

                let message = result.data.data[0].Message
                let statusResponse = result.data.data[0].Result
                let id_user = result.data.data[0].Identity
                let code = result.data.code;
                this.loading = false;
                if (code == 200) {
                    if (statusResponse == 'Success') {

                        notifyMessage.showNotify(this.$q, code, message)
                        this.$q.loading.hide()

                    } else {
                        this.$q.loading.hide()
                        notifyMessage.showNotify(this.$q, 0, message)

                    }
                    this.openedModal = !this.openedModal
                    this.$root.$emit("GET_DATA_USER")

                }
               

            }).catch((error) => {
                notifyMessage.showNotifyErrorSrv(this.$q)
                this.$q.loading.hide()
                this.loading = false;

            });
        },
        getDataByid(id) {
            
            let model = {
                "id_user": id,
            }
            var requestBody = {
                "sp": "sp_getUser",
                "model": model
            }
            this.$q.loading.show()
            this.$root.sendData(requestBody).then((result) => {
                this.$q.loading.hide()
                this.register = result.data.data[0]

            }).catch((error) => {
                notifyMessage.showNotifyErrorSrv(this.$q)
                this.$q.loading.hide()
                console.log(error)
                this.resetValues()
            });
        },
        loadSelect() {
            var requestBody = {
                "sp": "sp_load_select_items",
                "model": {option:'profile'}
            }
            this.$q.loading.show()
            this.$root.sendData(requestBody).then((result) => {
                this.$q.loading.hide()
                this.profileItems = result.data.data;
            }).catch((error) => {
                notifyMessage.showNotifyErrorSrv(this.$q)
                this.$q.loading.hide()
            });
            requestBody = {
                "sp": "sp_load_select_items",
                "model": {option:'school'}
            }
            this.$root.sendData(requestBody).then((result) => {
                this.$q.loading.hide()
                this.schoolItems = result.data.data;
            }).catch((error) => {
                notifyMessage.showNotifyErrorSrv(this.$q)
                this.$q.loading.hide()
            });
        },
        registerModal() {
            // this.$router.push('Register')

            this.openedRegister = true

        },
        resetValues() {
            this.register.id_user = null,
                this.register.cod_user = null,
                this.register.username = null,
                this.register.password = null,
                this.register.first_name = '',
                this.register.last_name = '',
                this.register.mail = '',
                this.register.dpi = null,
                this.register.birth_day = null,
                this.register.phone = null,
                this.register.gender = null,
                this.register.pin = null,
                this.register.url_picture = null,
                this.register.provider = null,
                this.register.id_profile = null,
                this.register.id_school = null
        }

    },
    validations: {
        register: {
            username: {
                required
            },
            password: {
                required
            },
            first_name: {
                required
            },
            last_name: {
                required
            },
            mail: {
                required,
                email
            },
            dpi: {
                required,
                maxLength: maxLength(15),
                minLength: minLength(15)
            },
            birth_day: {
                required
            },
            phone: {
                required,
                maxLength: maxLength(9),
                minLength: minLength(9)
            },
            gender: {
                required
            },
            id_profile:{
                required
            },
            id_school:{
                required
            }

        },
    },
    mounted() {
        
        this.$root.$on('OPEN_USER_MODEL', (id) => {
            
            this.$v.$reset(); 
            this.loadSelect();
            this.openedModal = !this.openedModal
            if (id != null) {
                this.operation = 'Editar Usuario'
                this.getDataByid(id)
            } else {
                this.operation = 'Registrar Usuario'
                if (this.register.id_user != null) {
                    this.resetValues()
                }

            }

        })

    },

}
</script>

<style>
.container-name-son {
    display: inline-block;

}

.pull-right {
    float: right !important;
}

.photo-camera {
    width: 30px;
    height: 30px;
}

.container-input-name {
    width: 100%
}

.container-picture {
    display: inline-flex;
    width: 100%;
    flex-wrap: nowrap;
}
</style>
