<template>
<transition name="slide-fade">
    <q-layout class="">
        <q-table title="Usuarios"  dense :pagination.sync="pagination"   :data="data" :loading="loading" color="primary" :columns="columns" :filter="filter" row-key="name">
            <q-tr slot="body" slot-scope="props" :props="props">
                <q-td key="username" :props="props">{{ props.row.username }}</q-td>
                <q-td key="first_name" :props="props">{{ props.row.first_name }}</q-td>
                <q-td key="last_name" :props="props">{{ props.row.last_name }}</q-td>
                <q-td key="profile_description" :props="props">{{ props.row.profile_description }}</q-td>
                <q-td key="school_name" :props="props">{{ props.row.school_name }}</q-td>
                <q-td key="mail" :props="props">{{ props.row.mail }}</q-td>
                <q-td key="dpi" :props="props">{{ props.row.dpi }}</q-td>
                <q-td key="birth_day" :props="props">{{ props.row.birth_day  }}</q-td>
                <q-td key="phone" :props="props">{{ props.row.phone }}</q-td>

                <q-td label="Acciones">
                    <q-btn color="primary" flat  @click="updateUser(props.row.id_user)">
                        <i class="fas fa-pen"></i>
                    </q-btn>
                    <q-btn color="negative"    flat @click="dialogDelete(props.row.id_user)">
                        <i  class="fas fa-minus-circle"></i>
                    </q-btn>
                </q-td>

            </q-tr>
            <template slot="top-left" slot-scope="props">
                <q-layout>
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4  rowChild">
                            <q-field>
                            <q-search float-label="Buscar"
                                        color="secondary"
                                        v-model="filter" />
                            </q-field>
                        </div>
                        <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4  rowChild">
                            <q-field>
                            <q-select float-label="Perfil"
                                        v-model="id_profile"
                                        :options="profileItems"
                                        filter-placeholder="Búsqueda"
                                        filter
                                        @input="getData"
                                        clearable
                                        separator />
                            </q-field>
                        </div>
                        <div class="col-sm-12 col-xs-12 col-md-4 col-lg-3  rowChild">
                            <q-field>
                            <q-select float-label="Colegio"
                                        v-model="id_school"
                                        :options="schoolItems"
                                        filter-placeholder="Búsqueda"
                                        separator
                                        @input="getData"
                                        clearable
                                        filter />
                            </q-field>
                        </div>
                        <div class="col-sm-12 col-xs-12 col-md-4 col-lg-1  rowChild">
                             <q-btn  size="20px" class="q-mt-sm" flat round dense :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'" @click="props.toggleFullscreen" />
                         </div>
                       
                    </div>
                </q-layout>
            </template>
           
        </q-table>

        <!-- Non-expandable without being on a QLayout -->

        <user></user>
        <q-btn round color="primary" @click="addItem" class="fixed color-indigo shadow-2 fab" icon="add" style="right: 18px; bottom: 18px" />
    </q-layout>

</transition>
</template>

<script>
import * as notifyMessage from '../../script/notify'
import User from './User'
import {
    colorMen,
} from '../../script/color'
import {
    when
} from 'q';
import {
    filter
} from 'quasar'
export default {
    components: {
        User
    },
    created() {
        this.getSelect();
        this.getData();
    },
    data() {
        return {
            card: {
                id_card: null,
                id_user: window.localStorage.getItem("USER_ID")
            },
            card_delete: {
                id_card: null,
                id_user_delete: null
            },
            data: [],
            pagination: {
                sortBy: null, // String, column "name" property value
                descending: false,
                page: 1,
                rowsPerPage: 15 // current rows per page being displayed
            },
            columns: [{
                    name: 'username',
                    required: true,
                    label: 'Usuario',
                    align: 'left',
                    field: 'username',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                {
                    name: 'first_name',
                    required: true,
                    label: 'Nombre',
                    align: 'left',
                    field: 'first_name',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                {
                    name: 'last_name',
                    required: true,
                    label: 'Apellido',
                    align: 'left',
                    field: 'last_name',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                {
                    name: 'profile_description',
                    required: true,
                    label: 'Perfil',
                    align: 'left',
                    field: 'profile_description',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 200px'
                },
                {
                    name: 'school_name',
                    required: true,
                    label: 'Colegio',
                    align: 'left',
                    field: 'school_name',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 200px'
                },
                {
                    name: 'mail',
                    required: true,
                    label: 'Email',
                    align: 'left',
                    field: 'mail',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                {
                    name: 'dpi',
                    required: true,
                    label: 'DPI',
                    align: 'left',
                    field: 'dpi',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                {
                    name: 'birth_day',
                    required: true,
                    label: 'Fecha cumpleaños',
                    align: 'left',
                    field: 'birth_day',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                {
                    name: 'phone',
                    required: true,
                    label: 'Telefono',
                    align: 'left',
                    field: 'phone',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                {
                    name: 'actions',
                    required: true,
                    label: 'Acciones',
                    align: 'left',
                    field: 'actions',
                    sortable: false,
                    classes: 'my-class',
                    style: 'width: 500px'
                },

            ],

            filter: '',
            loading: true,
            profileItems:[],
            schoolItems:[],
            id_profile:null,
            id_school:null,

        }
    },
    methods: {
        addItem() {
            this.$root.$emit("OPEN_USER_MODEL", null)
        },
        getData() {
          
            var requestBody = {
                "sp": "sp_getUser",
                "model": {
                    id_profile:this.id_profile,
                    id_school: window.localStorage.getItem("ID_SCHOOL")
                }
            }
            // this.$q.loading.show()
            this.loading = true
            this.$root.sendData(requestBody).then((result) => {

                // this.$q.loading.hide()
                this.loading = false
                this.data = this.formaterData(result.data.data)
                console.log(result)
            }).catch((error) => {
                notifyMessage.showNotifyErrorSrv(this.$q)
                //  this.$q.loading.hide()
                this.loading = false
            });
        },
        updateUser(id) {
            this.$root.$emit("OPEN_USER_MODEL", id)
        },
        deleteUser(id) {
            let model = {
                "id_user": id,
                "id_user_delete": window.localStorage.getItem("USER_ID"),

            }
            var requestBody = {
                "sp": "sp_delUser",
                "model": model
            }

            this.$q.loading.show()
            this.$root.sendData(requestBody).then((result) => {

                let message = result.data.data[0].Message
                let statusResponse = result.data.data[0].Result
                let code = result.data.code
                notifyMessage.showNotify(this.$q, code, message)
                this.$q.loading.hide()
                this.openedModal = !this.openedModal
                this.getData()
            }).catch((error) => {
                notifyMessage.showNotifyErrorSrv(this.$q)
                this.$q.loading.hide()
            });

        },
        formaterData(data) {
            let newData = []
            data.forEach(item => {
                let model = item
                model.birth_day = this.formterDate(item.birth_day)
                newData.push(model)
            });
            return newData
        },
        formterDate(dateFormat) {
            var date = new Date(dateFormat);
            var dd = date.getDate();
            var mm = date.getMonth() + 1; //January is 0!

            var yyyy = date.getFullYear();
            if (dd < 10) {
                dd = '0' + dd;
            }
            if (mm < 10) {
                mm = '0' + mm;
            }
            var newDate = dd + '/' + mm + '/' + yyyy;
            return newDate
        },
        dialogDelete(id) {

            this.$q.dialog({
                title: 'Usuario',
                message: '¿Desea eliminar el usuario?',
                ok: 'Aceptar',
                preventClose: true,
                cancel: 'Calcelar'
            }).then(() => {
                this.deleteUser(id)

            }).catch(() => {

            })
        },
        getSelect() {
            var requestBody = {
                "sp": "sp_load_select_items",
                "model": {option:'profile'}
            }
            this.$q.loading.show()
            this.$root.sendData(requestBody).then((result) => {
                this.$q.loading.hide()
                this.profileItems = result.data.data;
            }).catch((error) => {
                notifyMessage.showNotifyErrorSrv(this.$q)
                this.$q.loading.hide()
            });
            requestBody = {
                "sp": "sp_load_select_items",
                "model": {option:'school'}
            }
            this.$root.sendData(requestBody).then((result) => {
                this.$q.loading.hide()
                this.schoolItems = result.data.data;
            }).catch((error) => {
                notifyMessage.showNotifyErrorSrv(this.$q)
                this.$q.loading.hide()
            });
        },

    },
    
    mounted() {
        this.$root.$emit("SET_APP_SUBTITLE", "Administración de Usuarios")
        
        this.$root.$on("GET_DATA_USER", () => {
            this.getData()
        })
        window.localStorage.setItem("CURRENT_EVENT","GET_DATA_USER")

    },
    computed: {

    },

}
</script>

<style scope="local">
.q-table-top .q-table-control{
    width: 100%;
    padding: 0px
}
</style>
