<template>
<transition name="slide-fade">
    <q-layout class="">
        <q-table title="Usuarios" :data="data" :columns="columns" :filter="filter" row-key="name">
            <q-tr slot="body" slot-scope="props" :props="props">
                <q-td>
                    <div v-if="props.row.path_picture != null">

                        <vue-load-image>
                            <img slot="image" :src="props.row.path_picture" class="img-menu" />
                            <img slot="preloader" src="statics/img/loading1.gif" class="img-menu"/>
                            <div slot="error"><img slot="preloader" src="statics/img/loading1.gif" class="img-menu"/></div>
                        </vue-load-image>
                    </div>
                    <div v-else>
                        <img src="statics/svg/food.svg" alt="Img_menu" class="img-menu"/>
                    </div>

                </q-td>
                <q-td key="description" :props="props">{{ props.row.description }}</q-td>
                <q-td key="date_start" :props="props">{{ props.row.date_start }}</q-td>
                <q-td key="date_end" :props="props">{{ props.row.date_end }}</q-td>

                <q-td label="Acciones">
                    <q-btn color="primary" flat @click="update(props.row.id_offer)">
                        <i class="fas fa-pen"></i>
                    </q-btn>
                    <q-btn color="negative" flat @click="dialogDelete(props.row.id_offer)">

                        <i class="fas fa-minus-circle"></i>
                    </q-btn>
                </q-td>

            </q-tr>
            <template slot="top-left" slot-scope="props">
                <q-search placeholder="Buscar" hide-underline color="secondary" v-model="filter" class="col-6" />
            </template>
            <template slot="top-right" slot-scope="props">

                <q-btn flat round dense :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'" @click="props.toggleFullscreen" />
            </template>
        </q-table>

        <q-btn round color="primary" @click="addItem" class="fixed color-indigo shadow-3 fab " icon="add" style="right: 24px; bottom: 24px" />
    </q-layout>

</transition>
</template>

<script>
import * as notifyMessage from '../../script/notify'
//import Offer from './Offer'

import VueLoadImage from 'vue-load-image'
export default {
    components: {
    
        'vue-load-image': VueLoadImage
    },
    created() {
        this.getData()
    },
    data() {
        return {

            data: [],

            columns: [{
                    name: 'image',
                    required: true,
                    label: 'Imagen',
                    align: 'left',
                    field: 'image',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                {
                    name: 'description',
                    required: true,
                    label: 'Descripcion',
                    align: 'left',
                    field: 'description',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                {
                    name: 'date_start',
                    required: true,
                    label: 'Fecha inicio',
                    align: 'left',
                    field: 'date_start',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                {
                    name: 'date_end',
                    required: true,
                    label: 'Fecha fin',
                    align: 'left',
                    field: 'date_end',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                {
                    name: 'actions',
                    required: true,
                    label: 'Acciones',
                    align: 'left',
                    field: 'actions',
                    sortable: false,
                    classes: 'my-class',
                    style: 'width: 500px'
                },

            ],

            filter: '',

        }
    },
    methods: {
        addItem() {

            this.$root.$emit("OPEN_ADS_MODAL", null)
        },
        getData() {

            var requestBody = {
                "sp": "sp_getOffer",
                "model": "[]"
            }

            this.$q.loading.show()
            this.$root.sendData(requestBody).then((result) => {
                try {

                    this.data = this.formaterData(result.data.data)
                    console.log(result)
                    this.getPictures(this.data)
                } catch (error) {
                    notifyMessage.showNotify(this.$q, 0, "Error al obtener datos")
                }

                this.$q.loading.hide()
            }).catch((error) => {
                notifyMessage.showNotifyErrorSrv(this.$q)
                this.$q.loading.hide()
            });
        },
        update(id) {
            this.$root.$emit("OPEN_ADS_MODAL", id)
        },
        deleteUser(id) {
            let model = {
                "id_offer": id,
                "id_user_delete": window.localStorage.getItem("USER_ID"),

            }
            var requestBody = {
                "sp": "sp_delOffer",
                "model": model
            }

            this.$q.loading.show()
            this.$root.sendData(requestBody).then((result) => {

                let message = result.data.data[0].Message
                let statusResponse = result.data.data[0].Result
                let code = result.data.code
                notifyMessage.showNotify(this.$q, code, message)
                this.$q.loading.hide()
                
                this.getData()
            }).catch((error) => {
                notifyMessage.showNotifyErrorSrv(this.$q)
                this.$q.loading.hide()
            });

        },
        getPictures(data) {

            data.forEach((item, index) => {

                if (item.path_picture != null) {
                    let requestBody = {
                        "path_picture ": item.path_picture
                    }

                    this.$root.getFile(requestBody).then((result) => {
                        console.log(result)

                        let base64 = result.data.File
                        this.data[index].path_picture = "data:image/png;base64, " + base64
                    }, (error) => {
                        notifyMessage.showNotify(this.$q, 0, "Se ha producido un error ")
                    })
                }

            });
        },
        dialogDelete(id) {

            this.$q.dialog({
                title: 'Menu',
                message: '¿Desea eliminar el Anuncio?',
                ok: 'Aceptar',
                preventClose: true,
                cancel: 'Calcelar'
            }).then(() => {
                this.deleteUser(id)

            }).catch(() => {

            })
        },
        formaterData(data) {
            let newData = []
            data.forEach(item => {
                let model = {
                    id_offer: item.id_offer,
                    path_picture: item.path_picture,
                    description: item.description,
                    date_start: this.formterDate(item.date_start),
                    date_end: this.formterDate(item.date_end)
                }
                newData.push(model)
            });
            return newData
        },
        formterDate(dateFormat) {
            var date = new Date(dateFormat);
            var dd = date.getDate();
            var mm = date.getMonth() + 1; //January is 0!

            var yyyy = date.getFullYear();
            if (dd < 10) {
                dd = '0' + dd;
            }
            if (mm < 10) {
                mm = '0' + mm;
            }
            var newDate = dd + '/' + mm + '/' + yyyy;
            return newDate
        }

    },
    mounted() {
        this.$root.$on("GET_DATA_ADS", () => {
            this.getData()
        })

    },
    computed: {

    },

}
</script>

<style>
.img-menu {
    width: 60px;
    height: 60px;
    border-radius: 5px
}
</style>
