<template>
  <transition name="slide-fade">
    <q-layout class="">
      <q-table title="Usuarios"
               :data="data"
               color="primary"
               :loading="loading"
               :columns="columns"
               :filter="filter"
               row-key="name">
        <q-tr slot="body"
              slot-scope="props"
              :props="props">
          <q-td>
            <div v-if="props.row.path_picture != null">
              <vue-load-image>
                <img slot="image"
                     :src="mediaUrl + props.row.path_picture"
                     class="img-menu" />
                <img slot="preloader"
                     src="statics/img/loading1.gif"
                     class="img-menu" />
                <div slot="error"
                     class="img-menu">Error al cargar</div>
              </vue-load-image>
            </div>
            <div v-else>
              <img src="statics/svg/food.svg"
                   class="img-menu" />
            </div>
          </q-td>
          <q-td key="description"
                :props="props">{{ props.row.description }}</q-td>
          <q-td key="date_start"
                :props="props">{{ props.row.date_start }}</q-td>
          <q-td key="date_end"
                :props="props">{{ props.row.date_end }}</q-td>
          <q-td label="Usuarios asignados">
            <q-btn color="indigo"
                   @click="addItemOffer(props.row.id_offer)"
                   icon="person"
                   size="lg"
                   round
                   flat>
              <q-chip floating
                      color="primary">{{props.row.user_quantity}}</q-chip>
            </q-btn>
          </q-td>
          <q-td label="Acciones">
            <q-btn color="primary"
                   flat
                   @click="update(props.row.id_offer)">
              <i class="fas fa-pen"></i>
            </q-btn>
            <q-btn color="negative"
                   flat
                   @click="dialogDelete(props.row.id_offer)">

              <i class="fas fa-minus-circle"></i>
            </q-btn>
          </q-td>

        </q-tr>
        <template slot="top-left" slot-scope="props">
            <q-layout>
                <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-11 col-lg-11  rowChild">
                        <q-field>
                            <q-search float-label="Buscar"
                                        color="secondary"
                                        v-model="filter" />
                        </q-field>
                    </div>
                    
                    <div class="col-sm-12 col-xs-12 col-md-1 col-lg-1  rowChild">
                        <q-btn  size="20px" class="q-mt-sm" flat round dense :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'" @click="props.toggleFullscreen" />
                    </div>
                </div>
            </q-layout>
        </template>
     
      
      </q-table>

      <q-btn round
             color="primary"
             @click="addItem"
             class="fixed color-indigo shadow-3 fab "
             icon="add"
             style="right: 24px; bottom: 24px" />
      <menu-offer :opened-dialog="opened"
                  :id-ads="idAds"></menu-offer>
      <offer :opened-dialog="openedModal"
             :id-offer="idOffer"></offer>
    </q-layout>

  </transition>
</template>

<script>
import * as notifyMessage from '../../script/notify'
import {
    URL_MEDIA_APP
} from '../../script/Constant'
import MenuOffer from './MenuOffer'
import Offer from './Offer'
import VueLoadImage from 'vue-load-image'
export default {
    components: {
        'menu-offer': MenuOffer,
        'vue-load-image': VueLoadImage,
        'offer': Offer
    },
    created() {
        this.getData()
    },
    data() {
        return {
            mediaUrl: URL_MEDIA_APP,
            data: [],
            opened: false,
            openedModal: false,
            idAds: null,
            columns: [{
                    name: 'image',
                    required: true,
                    label: 'Imagen',
                    align: 'left',
                    field: 'image',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                {
                    name: 'description',
                    required: true,
                    label: 'Descripcion',
                    align: 'left',
                    field: 'description',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                {
                    name: 'date_start',
                    required: true,
                    label: 'Fecha inicio',
                    align: 'left',
                    field: 'date_start',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                {
                    name: 'date_end',
                    required: true,
                    label: 'Fecha fin',
                    align: 'left',
                    field: 'date_end',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                {
                    name: 'user_asigned',
                    required: true,
                    label: 'Usuarios Asignados',
                    align: 'left',
                    field: 'user_asigned',
                    sortable: false,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                {
                    name: 'actions',
                    required: true,
                    label: 'Acciones',
                    align: 'left',
                    field: 'actions',
                    sortable: false,
                    classes: 'my-class',
                    style: 'width: 500px'
                },

            ],

            filter: '',
            loading: false,
            idOffer: null

        }
    },
    methods: {
        addItem() {
            this.idOffer = null
            this.openedModal = !this.openedModal
            //  this.$root.$emit("OPEN_ADS_MODAL", null)
        },
        addItemOffer(id) {

            this.opened = !this.opened
            this.idAds = id
        },
        getData() {
            
            var requestBody = {
                "sp": "sp_getDetailOffer2",
                "model": {
                    id_school:window.localStorage.getItem("ID_SCHOOL")
                }
            }
            // this.$q.loading.show()
            this.loading = true
            this.$root.sendData(requestBody).then((result) => {

                //   this.$q.loading.hide()
                this.loading = false
                this.data = this.formaterData(result.data.data)
                console.log("Get DAT ADS ")
                //this.getPictures(this.data)
            }).catch((error) => {
                notifyMessage.showNotifyErrorSrv(this.$q)
                // this.$q.loading.hide()
                console.log(error)
                this.loading = false
            });
        },
        formaterData(data) {
            let newData = []
            data.forEach(item => {
                let model = {
                    path_picture: item.path_picture,
                    description: item.description,
                    date_start: this.formterDate(item.date_start),
                    date_end: this.formterDate(item.date_end),
                    id_offer: item.id_offer,
                    user_quantity: item.user_quantity,
                    imageBase64: null
                }
                newData.push(model)
            });
            return newData
        },
        update(id) {
            this.openedModal = true
            this.idOffer = id

        },
        deleteUser(id) {
            let model = {
                "id_offer": id,
                "id_user_delete": window.localStorage.getItem("USER_ID"),

            }
            var requestBody = {
                "sp": "sp_delOffer",
                "model": model
            }

            this.$q.loading.show()
            this.$root.sendData(requestBody).then((result) => {

                let message = result.data.data[0].Message
                let statusResponse = result.data.data[0].Result
                let code = result.data.code
                notifyMessage.showNotify(this.$q, code, message)
                this.$q.loading.hide()
                this.openedModal = !this.openedModal
                this.getData()
            }).catch((error) => {
                notifyMessage.showNotifyErrorSrv(this.$q)
                this.$q.loading.hide()
            });

        },
        getPictures(data) {

            data.forEach((item, index) => {

                if (item.path_picture != null) {
                    let requestBody = {
                        "path_picture ": item.path_picture
                    }

                    this.$root.getFile(requestBody).then((result) => {
                        console.log(result)

                        let base64 = result.data.File
                        this.data[index].imageBase64 = "data:image/png;base64, " + base64
                    }, (error) => {
                        //     notifyMessage.showNotify(this.$q, 0, "Error al cargar imagen ")
                    })
                }

            });
        },
        dialogDelete(id) {

            this.$q.dialog({
                title: 'Menu',
                message: '¿Desea eliminar el Anuncio?',
                ok: 'Aceptar',
                preventClose: true,
                cancel: 'Calcelar'
            }).then(() => {
                this.deleteUser(id)

            }).catch(() => {

            })
        },
        formterDate(dateFormat) {
            var date = new Date(dateFormat);
            var dd = date.getDate();
            var mm = date.getMonth() + 1; //January is 0!

            var yyyy = date.getFullYear();
            if (dd < 10) {
                dd = '0' + dd;
            }
            if (mm < 10) {
                mm = '0' + mm;
            }
            var newDate = dd + '/' + mm + '/' + yyyy;
            return newDate
        }
    },
    mounted() {
        
        this.$root.$emit("SET_APP_SUBTITLE", "Administración de Anuncios")
        window.localStorage.setItem("CURRENT_EVENT","GET_DATA_ADS")

        this.$root.$on("GET_DATA_ADS", () => {
            this.getData()
        })
        this.$root.$on("CLOSED_DIALOG_OFFER", () => {
            this.opened = false
        })
        this.$root.$on("CLOSED_DIALOG", () => {
            this.openedModal = false
        })

    },
    computed: {

    },

}
</script>
<style scope="local">
.q-table-top .q-table-control{
    width: 100%;
    padding: 0px
}
</style>