<template>
<q-modal v-model="opened" @hide="hide" maximized>
    <q-toolbar color="indigo">
        <q-btn flat round dense v-close-overlay icon="close" />
        <q-toolbar-title class="center">Asignacion de Usuarios </q-toolbar-title>
    </q-toolbar>
    <div>
        <q-layout class="">
            <div class="left">
                <div class="content layout-padding">
                    <div class="row justify-content">
                    </div>
                    <div class="row justify-between">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 rowChild">
                            <q-table :data="dataUser" title="Usuarios no asignados" color="primary" :pagination.sync="pagination"  :columns="columnsUser" selection="multiple" :selected.sync="selected" row-key="mail" :filter="filterUser" :loading="loading">
                                <q-tr slot="header" slot-scope="props">
                                    <q-th auto-width>
                                        <q-checkbox v-if="props.multipleSelect" v-model="props.selected" indeterminate-value="some" @click.native="selectAllUser" />
                                    </q-th>
                                    <q-th v-for="col in props.cols" :key="col.name" :props="props">
                                        {{ col.label }}
                                    </q-th>
                                </q-tr>

                                <template slot="body" slot-scope="props">
                                    <q-tr :props="props">
                                        <q-td auto-width>
                                            <q-checkbox color="primary" @click.native="selectSingleUser" v-model="props.selected" />
                                        </q-td>
                                        <q-td key="username" :props="props">{{ props.row.username }}</q-td>
                                        <q-td key="first_name" :props="props">{{ props.row.first_name }}</q-td>
                                        <q-td key="last_name" :props="props">{{ props.row.last_name }}</q-td>
                                        <q-td key="mail" :props="props">{{ props.row.mail }}</q-td>
                                    </q-tr>

                                </template>
                                <template slot="top-right" slot-scope="props">
                                    <q-search placeholder="Buscar" hide-underline color="secondary" v-model="filterUser" class="col-6" />
                                </template>
                                <template slot="top-selection" slot-scope="props">
                                    <q-btn color="indigo" icon="check" @click="addItem" label="Asignar" class="q-mr-sm" />
                                    <div class="col" />

                                </template>
                            </q-table>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 rowChild">
                            <user-assign :id-offer="idAds"></user-assign>
                        </div>
                    </div>
                </div>
            </div>
        </q-layout>
    </div>

</q-modal>
</template>

<script>
import * as notifyMessage from '../../script/notify'
import UserAssign from './UserAssign'
export default {
    props: {
        openedDialog: Boolean,
        idAds: Number
    },
    components:{
        'user-assign' : UserAssign
    },
    data() {
        return {
            dataUser: [],
            idOffer : null,
            isChangeData: false,
            selectUser: [],
            loading: true,
            selected: [],
            selectedUser: [],
            opened: false,
            dataUserOffer: [],
            filter: '',
            filterUser: '',
            data: [],
            select: null,
            selectedALL: false,
            pagination: {
                sortBy: null, // String, column "name" property value
                descending: false,
                page: 1,
                rowsPerPage: 0 // current rows per page being displayed
            },
            columns: [{
                    name: 'username',
                    required: true,
                    label: 'Usuario',
                    align: 'left',
                    field: 'username',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                {
                    name: 'first_name',
                    required: true,
                    label: 'Nombre',
                    align: 'left',
                    field: 'first_name',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                {
                    name: 'last_name',
                    required: true,
                    label: 'Apellido',
                    align: 'left',
                    field: 'last_name',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                {
                    name: 'mail',
                    required: true,
                    label: 'Email',
                    align: 'left',
                    field: 'mail',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                }
            ],
            columnsUser: [{
                    name: 'username',
                    required: true,
                    label: 'Usuario',
                    align: 'left',
                    field: 'username',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                {
                    name: 'first_name',
                    required: true,
                    label: 'Nombre',
                    align: 'left',
                    field: 'first_name',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                {
                    name: 'last_name',
                    required: true,
                    label: 'Apellido',
                    align: 'left',
                    field: 'last_name',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                {
                    name: 'mail',
                    required: true,
                    label: 'Email',
                    align: 'left',
                    field: 'mail',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                }

            ],

        }
    },
    methods: {
        hide() {
            this.$root.$emit("CLOSED_DIALOG_OFFER")
        },
        addItem() {
            this.selectedALL = false
            console.log(this.selected)
            this.selected.forEach((item, index) => {
                let model = {
                    "id_user": item.id_user,
                    "id_user_create": window.localStorage.getItem("USER_ID"),
                    "id_offer": this.idAds
                }
                var requestBody = {
                    "sp": "sp_insUpdDetailOffer",
                    "model": model
                }
                this.$q.loading.show()
                this.$root.sendData(requestBody).then((result) => {
                    try {
                        let message = result.data.data[0].Message
                        let statusResponse = result.data.data[0].Result
                        let code = result.data.code
                        if (statusResponse == 'Success') {
                            if (index == this.selected.length - 1) {
                                notifyMessage.showNotify(this.$q, 200, message)

                            }
                        } else {
                            notifyMessage.showNotify(this.$q, 0, message)
                        }

                        this.isChangeData = true
                        this.select = null

                        if (index == this.selected.length - 1) {
                            this.getDataUser(this.idAds)
                         //   this.getDataUserOffer()
                          this.$root.$emit("GET_DATA_USER")
                            this.$q.loading.hide()
                        }

                    } catch (error) {
                        this.$q.loading.hide()
                        notifyMessage.showNotify(this.$q, 0, "Error al obtener datos insert oofer")
                        return
                    }
                    this.$q.loading.hide()
                }).catch((error) => {
                    notifyMessage.showNotifyErrorSrv(this.$q)
                    this.$q.loading.hide()
                });
            });

        },
        getDataUser(idOffer) {
            let model = {
                "id_offer": idOffer,
                id_school: window.localStorage.getItem("ID_SCHOOL"),
            }
            var requestBody = {
                "sp": "sp_getUserOffer",
                "model": model
            }
            // this.$q.loading.show()
            this.loading = true
            this.$root.sendData(requestBody).then((result) => {

                try {
                  
                    this.dataUser = this.formaterData(result.data.data)
                    console.log(this.selected)

                    console.log(result)
                    //this.$q.loading.hide()
                    // this.getPictures(this.data)
                    this.loading = false
                } catch (error) {
                    this.$q.loading.hide()
                    notifyMessage.showNotify(this.$q, 0, "Error al obtener datos ")
                    return
                }

            }).catch((error) => {
                notifyMessage.showNotifyErrorSrv(this.$q)
                this.$q.loading.hide()
            });
        },
       
        formaterData(data) {
            let newData = []
            this.selected = []
            data.forEach((item) => {
                //  this.selected.push({mail: item.id_user})
                let model = item
                model.multipleSelect = true
                model.selected = false
                newData.push(model)
            });
            return newData
        },
        dialogDelete(id) {

            this.$q.dialog({
                title: 'Menu',
                message: '¿Desea desasignar el usuario?',
                ok: 'Aceptar',
                preventClose: true,
                cancel: 'Calcelar'
            }).then(() => {
                this.deleteUser(id)

            }).catch(() => {

            })
        },
      
        selectAllUser() {
            console.log(this.selected)
            if (!this.selectedALL) {
                let data = []
                this.dataUser.forEach(item => {
                    let newData = item
                    newData.multipleSelect = true
                    newData.selected = false
                    data.push(newData)
                });
                this.selected = data
                this.selectedALL = true
               
            }else{
                this.selected = []
                this.selectedALL = false
            } 
        },
        selectSingleUser(){
            this.selectedALL = true
        }

    },
    created() {
        this.opened = this.openedDialog
        this.idOffer = this.idAds

        // this.getDataUser()
    },
    mounted() {
        this.$root.$on("CHANGE_DATA_USER", ()=>{
            this.isChangeData = true
            this.getDataUser(this.idAds)

        })
    },
    watch: {
        openedDialog: function (newValue, oldValue) {

            this.opened = newValue
            if (this.opened) {
                this.getDataUser(this.idAds)
                this.select = null
                //this.$root.$emit("GET_DATA_USER")
            }
            if (this.isChangeData) {
                this.$root.$emit("GET_DATA_ADS")
            }
            this.isChangeData = false
        },
       
       

    },

}
</script>
