<template>
  <q-modal v-model="dialog"
           @hide="hide">
    <q-toolbar color="indigo">
      <q-btn flat
             round
             dense
             v-close-overlay
             icon="close" />
      <q-toolbar-title>
        {{operation}}
      </q-toolbar-title>
      <q-btn 
             :loading="loading"
             label="Guardar"
             color="positive"  
             icon-right="save"
             @click="submitObject" />
    </q-toolbar>
    <div>
      <q-layout class="">
        <div class="left">
          <div class="content layout-padding  ">
            <form id="form-signup">
              <div class="row ">
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 ">
                  <q-field>
                    <q-input v-model="object.description"
                             @blur="$v.object.description.$touch"
                             @keyup.enter="submitobject"
                             :error="$v.object.description.$error"
                             float-label="Descripcion" />
                  </q-field>
                </div>
                 <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 ">   
                  <q-field>
                    <q-datetime v-model="object.date_start"
                                float-label="Fecha inicio"
                                @blur="$v.object.date_start.$touch"
                                @keyup.enter="submitbject"
                                :error="$v.object.date_start.$error" />
                  </q-field>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                  <q-field>
                    <q-datetime v-model="object.date_end"
                                @blur="$v.object.date_end.$touch"
                                @keyup.enter="submitobject"
                                :error="$v.object.date_end.$error"
                                float-label="Fecha fin" />
                  </q-field>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12  ">
                  <q-field>
                    <q-select v-model="object.id_state"
                              float-label="Seleccione estado"
                              filter-placeholder = "Búsqueda"
                              filter
                              @blur="$v.object.id_state.$touch"
                              :error="$v.object.id_state.$error"
                              :options="stateItems" />
                  </q-field>
                </div>
              </div>
              <div class="center mar-bottom-10 container-label-upload">
                <label for="file"
                       class="shadow-2 label-upload  ">Seleccione Imagen</label>
              </div>
              <div class="center mar-top-10">
                <input type="file"
                       id="file"
                       class="btn-upload "
                       ref="file"
                       accept="image/*"
                       v-on:change="handleFileUpload()" />

                <div v-if="fileBase64 != null"
                     class="container-img-menu ">
                  <img id="output"
                       :src=fileBase64
                       class="upload-image mar-top-10 " />
                </div>
                <div v-else
                     class="container-img-menu">
                  <img id="output"
                       src="statics/svg/food.svg"
                       class="upload-image mar-top-10"/>
                </div>
              </div>
            </form>
          </div>
        </div>
      </q-layout>
    </div>

  </q-modal>
</template>

<script>
import {
    required,
    email,
    maxLength,
    minLength
} from 'vuelidate/lib/validators'
import * as notifyMessage from '../../script/notify'
import VMasker from 'vanilla-masker'
import {
    URL_BASE
} from '../../script/Constant'
export default {
    props: {
        openedDialog: Boolean,
        idOffer: Number

    },
    computed:{
        dialog:{
            get: function () {
                console.log("get")
                if(this.idOffer)
                    this.getDataByid(this.idOffer)
                return this.openedDialog;
             },
   
            set: function (newValue) {
                 console.log("set")
                this.resetValues()
                return  !this.openedDialog;
            }
            
        }
    },
    created() {
        var requestBody = {
                "sp": "sp_load_select_items",
                "model": {option:'state'}
            }
            this.$root.sendData(requestBody).then((result) => {
                this.$q.loading.hide()
                this.stateItems = result.data.data;
            }).catch((error) => {
                notifyMessage.showNotifyErrorSrv(this.$q)
                this.$q.loading.hide()
            });
    },
    data() {
        return {
            object: {
                id_offer: null,
                description: null,
                date_start: null,
                date_end: null,
                path_picture: null,
                id_user_create: null,
                id_user_update: null,
                id_state:null
            },
            openedModal: false,
            operation: 'Agregar Anuncio',
            user: {},
            file: '',
            fileBase64: null,
            id: null,
            stateItems:[],
            loading:null

        }
    },
    methods: {
        hide() {

            this.$root.$emit("CLOSED_DIALOG")
        },
        submitObject() {
            this.$v.object.$touch()
            if (this.$v.object.$error) {

                if (this.$v.object.$error) {

                    notifyMessage.showNotify(this.$q, 0, "Por favor revise los campos de nuevo")
                    return

                }

            } else {

                // this.saveData(this.object)
                this.object.id_school = window.localStorage.getItem("ID_SCHOOL")
                this.submitFile(this.object)
            }
            //this.$router.push('Home')
        },
        submitFile(model) {

            let formData = new FormData();
            formData.append('file', this.file);
            if (this.file) {
                this.$root.sendFile(formData).then((response) => {

                        this.object.path_picture = response.data.Path_file
                        console.log(response)
                        this.saveData(model)

                    })
                    .catch((error) => {
                        debugger
                        notifyMessage.showNotify(this.$q, 0, "Error subiendo la imagen")
                        return

                    });

            } else {
                this.saveData(model)
            }

        },

        handleFileUpload() {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
            this.file = this.$refs.file.files[0];
        },

        saveData(model) {
            console.log(model)
            this.$q.loading.show()
            if (this.object.id_user_create == null) {
                this.object.id_user_create = window.localStorage.getItem("USER_ID")
            } else {
                this.object.id_user_update = window.localStorage.getItem("USER_ID")
            }

            var requestBody = {
                "sp": "sp_insUpdOffer",
                "model": model
            }

            this.$q.loading.show()
            this.loading=true;
            this.$root.sendData(requestBody).then((result) => {
                let message = result.data.data[0].Message
                let statusResponse = result.data.data[0].Result

                let code = result.data.code
                if (code == 200) {
                    
                    console.log("cerrando dialgo")
                    if (statusResponse == 'Success') {
                        notifyMessage.showNotify(this.$q, code, message)
                        this.$q.loading.hide()
                        this.loading=false;
                       

                    } else {
                        this.$q.loading.hide()
                        this.loading=false;
                        notifyMessage.showNotify(this.$q, 0, message)

                    }
                    this.openedModal = !this.openedModal
                    this.$root.$emit("GET_DATA_ADS")
                    return

                }

            }).catch((error) => {
                notifyMessage.showNotifyErrorSrv(this.$q)
                this.$q.loading.hide()
                console.log(error)
                this.loading=false;

            });

        },
        getDataByid(id) {
            let model = {
                "id_offer": id,

            }
            var requestBody = {
                "sp": "sp_getOffer",
                "model": model
            }
            this.$q.loading.show()
            this.$root.sendData(requestBody).then((result) => {
                this.$q.loading.hide()
                let object = result.data.data[0]

                this.object.id_offer = object.id_offer
                this.object.description = object.description
                this.object.id_user_create = object.id_user_create
                this.object.id_user_update = object.id_user_update
                this.object.date_start = object.date_start
                this.object.date_end = object.date_end
                this.object.path_picture = object.path_picture
                this.object.id_school = object.id_school
                this.object.id_state = object.id_state
                this.getPictures(this.object)

            }).catch((error) => {
                notifyMessage.showNotifyErrorSrv(this.$q)
                this.$q.loading.hide()
                console.log(error)
                this.resetValues()
            });
        },
        
        registerModal() {
            // this.$router.push('Register')

            this.openedRegister = true
            this.$v.$reset(); 
        },
        getPictures(item) {
            this.base64 = null
            if (item.path_picture != null) {
                this.$q.loading.show()
                let requestBody = {
                    "path_picture ": item.path_picture
                }

                this.$root.getFile(requestBody).then((result) => {
                    console.log(result)
                    let base64 = result.data.File
                    this.fileBase64 = "data:image/png;base64, " + base64
                    this.$q.loading.hide()
                }, (error) => {

                    notifyMessage.showNotify(this.$q, 0, "Error al cargar imagen")
                    this.$q.loading.hide()
                })
            }

        },

        resetValues() {

            this.object.id_offer = null
            this.object.description = null
            this.object.date_start = null
            this.object.date_end = null
            this.object.path_picture = null
            this.object.id_user_create = null
            this.object.id_user_update = null
            this.fileBase64 = null
            this.file = null
            this.object.path_picture = null
            this.$v.$reset(); 
        }

    },
    validations: {
        object: {
            description: {
                required
            },
            date_start: {
                required
            },
            date_end: {
                required
            },
            id_state:{
                required
            },
        },
    },
    mounted() {

        // this.$root.$on('OPEN_OFFER_MODAL', (id) => {
        //     this.openedModal = !this.openedModal
        //     if (id != null) {
        //         this.operation = 'Editar Offerta'
        //         this.getDataByid(id)
        //     } else {
        //         this.operation = 'Agregar Offerta'
        //         if (this.object.id_ads != null) {
        //             this.resetValues()
        //         }

        //     }

        // })

    },
    watch: {
     
        idOffer: function (newValue, oldValue) {
            this.id = newValue
            this.resetValues()
            if (this.id != null) {
                this.operation = 'Editar Offerta'
                //this.getDataByid(this.id)

            } else {
                this.operation = 'Agregar Offerta'

            }
        },

    },

}
</script>

<style>

</style>
