<template>
<q-table :data="dataUser" title="Usuarios asignados" color="primary"  :pagination.sync="pagination" :columns="columns" selection="multiple" :selected.sync="selected" row-key="mail" :filter="filter" :loading="loading">
    <q-tr slot="header" slot-scope="props">
        <q-th auto-width>
            <q-checkbox v-if="props.multipleSelect" v-model="props.selected" indeterminate-value="some" @click.native="selectAllUser" />
        </q-th>
        <q-th v-for="col in props.cols" :key="col.name" :props="props">
            {{ col.label }}
        </q-th>
    </q-tr>
    <template slot="body" slot-scope="props">
        <q-tr :props="props">
            <q-td auto-width>
                <q-checkbox color="primary" @click.native="selectSingleUser" v-model="props.selected" />
            </q-td>
            <q-td key="username" :props="props">{{ props.row.username }}</q-td>
            <q-td key="first_name" :props="props">{{ props.row.first_name }}</q-td>
            <q-td key="last_name" :props="props">{{ props.row.last_name }}</q-td>
            <q-td key="mail" :props="props">{{ props.row.mail }}</q-td>

        </q-tr>

    </template>
    <template slot="top-right" slot-scope="props">
        <q-search placeholder="Buscar" hide-underline color="secondary" v-model="filter" class="col-6" />
    </template>
    <template slot="top-selection" slot-scope="props">
        <q-btn color="negative" icon="fas fa-minus" @click="deleteItem" label="Eliminar" class="q-mr-sm" />

        <div class="col" />

    </template>
</q-table>
</template>

<script>
import * as notifyMessage from '../../script/notify'
export default {
    props: {
        idOffer: Number
    },
    created() {
        this.id = this.idOffer
    },
    data() {
        return {
            loading: false,
            selected: [],
            filter: '',
            id: null,
            dataUser: [],
            isChangeData: false,
            selectedALL: false,
            columns: [{
                    name: 'username',
                    required: true,
                    label: 'Usuario',
                    align: 'left',
                    field: 'username',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                {
                    name: 'first_name',
                    required: true,
                    label: 'Nombre',
                    align: 'left',
                    field: 'first_name',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                {
                    name: 'last_name',
                    required: true,
                    label: 'Apellido',
                    align: 'left',
                    field: 'last_name',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                {
                    name: 'mail',
                    required: true,
                    label: 'Email',
                    align: 'left',
                    field: 'mail',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                }

            ],
            pagination: {
                sortBy: null, // String, column "name" property value
                descending: false,
                page: 1,
                rowsPerPage: 0 // current rows per page being displayed
            },

        }
    },
    methods: {
        getDataUser() {

            let model = {
                "id_offer": this.id
            }
            var requestBody = {
                "sp": "sp_getUserByOffer",
                "model": model
            }
            // this.$q.loading.show()
            this.loading = true
            this.$root.sendData(requestBody).then((result) => {

                try {
                    this.dataUser = result.data.data

                    console.log(result)
                    // this.getPictures(this.data)
                    //    this.$q.loading.hide()
                    this.loading = false
                } catch (error) {
                    this.$q.loading.hide()
                    notifyMessage.showNotify(this.$q, 0, "Error al obtener datos User Assig")
                    return
                }

            }).catch((error) => {
                notifyMessage.showNotifyErrorSrv(this.$q)
                this.$q.loading.hide()
            });

        },
        deleteItem() {
            this.selectedALL = false
            this.selected.forEach((item, index) => {
                let model = {
                    "id_detail_offer": item.id_detail_offer,
                    "id_user_delete": window.localStorage.getItem("USER_ID"),

                }
                var requestBody = {
                    "sp": "sp_delDetailOffer",
                    "model": model
                }

                this.$q.loading.show()
                this.$root.sendData(requestBody).then((result) => {
                    this.$q.loading.hide()
                    try {
                        let message = result.data.data[0].Message
                        let statusResponse = result.data.data[0].Result
                        let code = result.data.code
                        if (statusResponse == 'Success') {
                            if (index == this.selected.length - 1) {
                                notifyMessage.showNotify(this.$q, code, "Usuario eliminado correctamente")
                            }

                        } else {

                            notifyMessage.showNotify(this.$q, 0, message)
                        }

                        if (index == this.selected.length - 1) {
                            this.getDataUser(this.idAds)
                            this.getDataUser()
                            this.$q.loading.hide()
                            this.$root.$emit("CHANGE_DATA_USER")
                            this.isChangeData = true
                            this.selected = []

                        }

                    } catch (error) {
                        notifyMessage.showNotify(this.$q, 0, "Error al obtener datos uSSER ASSING")
                    }

                }).catch((error) => {
                    notifyMessage.showNotifyErrorSrv(this.$q)
                    this.$q.loading.hide()
                });

            });

        },
        selectAllUser() {
            console.log(this.selected)
            if (!this.selectedALL) {
                let data = []
                this.dataUser.forEach(item => {
                    let newData = item
                    newData.multipleSelect = true
                    newData.selected = false
                    data.push(newData)
                });
                this.selected = data
                this.selectedALL = true

            } else {
                this.selected = []
                this.selectedALL = false
            }

        },
        selectSingleUser() {
            this.selectedALL = true
        }

    },
    mounted() {
        this.$root.$on("GET_DATA_USER", () => {
            this.getDataUser()
        })
    },
    watch: {
        idOffer: function (newValue, oldValue) {
            this.id = newValue
            this.getDataUser()
        },

    },
}
</script>
