<template>
<q-modal v-model="openedModal" :content-css="{minWidth: '60vw', minHeight: '80vh'}">
    <q-toolbar color="indigo">
        <q-btn flat round dense v-close-overlay icon="close" />
        <q-toolbar-title>
                 {{operation}} - {{register.state}} 
        </q-toolbar-title>
          <q-btn v-if="register.state=='PENDIENTE'" color="red" icon-right="cancel" label="Rechazar" @click="processRequest(false)"/>
          <q-btn v-if="register.state=='PENDIENTE'"  color="positive" icon-right="check_circle" label="Aprobar" @click="processRequest(true)" />
    </q-toolbar>
    <div>
        <q-layout class="">
            <div class="content ">
                <form id="form-signup">
                    <div class="column">
                        <div class="col-sm-12 col-xs-12 col-md-6  rowChild">
                            <q-field>
                               <img :src="media_url+register.path_picture" alt=""  style="width: 500px; heigh: 500px; max-height: 500px;" >
                            </q-field>
                        </div>
                    </div>
                    <div class="row wrap">
                        <div class="col-sm-12 col-xs-12 col-md-6  rowChild">
                            <q-field>
                                <q-input v-model="register.first_name" 
                               
                                readonly
                              
                                float-label="Nombres" />
                            </q-field>
                        </div>
                        <div class="col-sm-12 col-xs-12 col-md-6  rowChild">
                            <q-field>
                                <q-input v-model="register.last_name" 
                                float-label="Apellidos" 
                                readonly
                              
                                
                                 />
                            </q-field>
                        </div>
                         <div class="col-sm-12 col-xs-12 col-md-6  rowChild">
                            <q-field>
                                <q-input v-model="register.amount" 
                                float-label="Monto" 
                                @blur="$v.register.amount.$touch" 
                                :error="$v.register.amount.$error" />
                            </q-field>
                        </div>
                         <div class="col-sm-12 col-xs-12 col-md-6  rowChild">
                            <q-field>
                                <q-input v-model="register.description" 
                                float-label="Comentarios" 
                              
                                readonly
                               
                                />
                            </q-field>
                        </div>
                        <div class="col-sm-12 col-xs-12 col-md-6  rowChild">
                                <q-field>
                                    <q-select
                                    float-label="Tipo Ingreso"
                                    v-model="register.id_request_amount_type"
                                    :options="requestAmountTypeItems"
                                    filter-placeholder = "Búsqueda"
                                    filter
                                    :readonly="register.state!='PENDIENTE'"
                                    :error="$v.register.id_request_amount_type.$error"
                                    separator
                                    />
                                </q-field>
                            </div>
                         
                    </div>
                </form>
            </div>
        </q-layout>
    </div>

</q-modal>
</template>

                               
<script>
import {
    required,
    email,
    maxLength,
    minLength
} from 'vuelidate/lib/validators'
import * as notifyMessage from '../../script/notify'
import VMasker from 'vanilla-masker'
import { URL_MEDIA_APP } from '../../script/Constant'
import {
    URL_BASE
} from '../../script/Constant'

export default {
    data() {
        return {
            register: {
                id_amount: null,
                amount: null,
                description: null,
                mail: null,
                first_name: '',
                last_name: '',
                phone: null,
                path_picture: null,
                state:null,
                id_request_amount_type:null
            },
            openedModal: false,
            operation: '',
            media_url: URL_MEDIA_APP,
            enableOperations:false,
            id_user: window.localStorage.getItem("USER_ID"),
            requestAmountTypeItems:[],
            

            
        }
    },
    methods: {
       
        processRequest(aprove) {
            this.$q.loading.show()
            this.$v.$touch()
            if(aprove){
                if (this.$v.$error) {
                    notifyMessage.showNotify(this.$q, 0, "Por favor revise los campos de nuevo")
                    this.$q.loading.hide()
                    return;
                 }
            }
            
            var requestBody = {
                "sp": aprove?"sp_aprove_request_amount":"sp_denied_request_amount",
                "model": {
                    "id_amount":this.register.id_amount,    
                    "amount":this.register.amount,
                    "id_user_process":this.id_user,
                    "id_request_amount_type": aprove ? this.register.id_request_amount_type : null
                    }
            }
            this.$q.loading.show()
            this.$root.sendData(requestBody).then((result) => {
                let message = result.data.data[0].Message
                let statusResponse = result.data.data[0].Result
                let code = result.data.code
                if (code == 200) {
                    if (statusResponse == 'Success') {
                        notifyMessage.showNotify(this.$q, code, message)
                        this.$q.loading.hide()

                    } else {
                        this.$q.loading.hide()
                        notifyMessage.showNotify(this.$q, 0, message)

                    }
                    this.openedModal = false;
                    this.$root.$emit("GET_DATA_REQUEST_TRAY")

                }
                console.log("Save data")
                console.log(result)

            }).catch((error) => {
                notifyMessage.showNotifyErrorSrv(this.$q)
                this.$q.loading.hide()
                console.log(error)

            });
        },
       
        getDataByid(id) {
            this.register.id_amount =id;
            let model = {
                "id_amount": id
            }
            var requestBody = {
                "sp": "sp_getRequestAmountUsersByID",
                "model": model
            }
            this.$q.loading.show()
            this.$root.sendData(requestBody).then((result) => {
                this.$q.loading.hide();
                this.register = result.data.data[0];
                this.enableOperations=true;

            }).catch((error) => {
                notifyMessage.showNotifyErrorSrv(this.$q)
                this.$q.loading.hide()
                this.enableOperations=false;
                this.resetValues()
            });
        },

        resetValues() {
                this.register.id_amount = null;
                this.register.amount = null;
                this.register.description = null;
                this.register.mail = null;
                this.register.first_name = '';
                this.register.last_name = '';
                this.register.phone = null;
                this.register.path_picture = null;
                
        }

    },
    mounted() {
         var requestBody = {
                "sp": "sp_load_select_items",
                "model": {option:'request_amount_type'}
        }
        this.$q.loading.show()
        this.$root.sendData(requestBody).then((result) => {
            this.$q.loading.hide()
            this.requestAmountTypeItems = result.data.data;
        }).catch((error) => {
            notifyMessage.showNotifyErrorSrv(this.$q)
            this.$q.loading.hide()
        });
        this.$root.$on('OPEN_REQUEST_TRAY', (id) => {
            this.openedModal = !this.openedModal;
            this.register.id_request_amount_type = null;
            if (id != null) {
                this.operation = 'Aprobar Solicitud'
                this.getDataByid(id)
            }
        })

    },
    validations: {
        register: {
            
            id_amount:{
                required
            },
            amount:{
                required
            },
            id_request_amount_type:{
                required
            }
            

        },
    }

}
</script>

<style>
.container-name-son {
    display: inline-block;

}

.pull-right {
    float: right !important;
}

.photo-camera {
    width: 30px;
    height: 30px;
}

.container-input-name {
    width: 100%
}

.container-picture {
    display: inline-flex;
    width: 100%;
    flex-wrap: nowrap;
}
</style>
