<template>
<transition name="slide-fade">
    <q-layout class="">
        <q-table title="Usuarios" :data="data" :loading="loading" color="primary" :pagination="pagination" :columns="columns" :filter="filter" row-key="name">
            <q-tr slot="body" slot-scope="props" :props="props">
                <q-td key="id_amount" >{{ props.row.id_amount }}</q-td>
                <q-td key="first_name" >{{ props.row.first_name }}</q-td>
                <q-td key="last_name" >{{ props.row.last_name }}</q-td>
                <q-td key="amount" >{{ props.row.amount }}</q-td>
                 <q-td key="type" >{{ props.row.type }}</q-td>
                <q-td key="mail" >{{ props.row.mail }}</q-td>
                <q-td key="phone" >{{ props.row.phone }}</q-td>
                 <q-td key="description" >{{ props.row.description }}</q-td>
                <q-td key="state" > 
                    <q-icon v-if="props.row.state=='APROBADO'" name="check_circle" color="green" size="24px"> 
                        <q-tooltip> {{props.row.state}} </q-tooltip>
                    </q-icon>
                    <q-icon v-else-if="props.row.state=='DENEGADO'" name="cancel" color="red" size="24px"> 
                        <q-tooltip> {{props.row.state}} </q-tooltip>
                    </q-icon>
                     <q-icon v-else-if="props.row.state=='PENDIENTE'" name="notification_important" color="orange" size="24px"> 
                        <q-tooltip> {{props.row.state}} </q-tooltip>
                    </q-icon>
                </q-td>
                <q-td label="Acciones">
                    <q-btn color="primary" flat @click="approveRequest(props.row.id_amount)">
                       <q-icon name="sync" />
                       <q-tooltip> Aprobar </q-tooltip>
                    </q-btn>
                </q-td>
            </q-tr>
            <template slot="top-left" slot-scope="props">
                <q-layout>
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 col-md-8 col-lg-8  rowChild">
                            <q-field>
                            <q-search float-label="Buscar"
                                        color="secondary"
                                        v-model="filter" />
                            </q-field>
                        </div>
                        <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3  rowChild">
                            <q-field>
                            <q-select float-label="Estado"
                                        v-model="state"
                                        :options="stateItems"
                                        filter-placeholder="Búsqueda"
                                        filter
                                        @input="getData()"
                                        clearable
                                        separator />
                            </q-field>
                        </div>
                        <div class="col-sm-12 col-xs-12 col-md-4 col-lg-1  rowChild">
                            <q-btn  size="20px" class="q-mt-sm" flat round dense :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'" @click="props.toggleFullscreen" />
                        </div>
                    </div>
                </q-layout>
            </template>
        </q-table>
        <!-- Non-expandable without being on a QLayout -->
        <request-tray></request-tray>
  </q-layout>

</transition>
</template>

<script>
import * as notifyMessage from '../../script/notify'
import RequestTray from './RequestTray'
export default {
    components: {
        RequestTray
    },
    created() {
        this.getData()
    },
    data() {
        return {
            data: [],
            pagination: {
            sortBy: null, // String, column "name" property value
            descending: false,
            page: 1,
            rowsPerPage: 20 // current rows per page being displayed
            },
            columns: [{
                    name: 'id_amount',
                    required: true,
                    label: 'Solicitud',
                    align: 'left',
                    field: 'id_amount',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                 {
                    name: 'first_name',
                    required: true,
                    label: 'Nombres',
                    align: 'left',
                    field: 'first_name',
                    sortable: true,
                    classes: 'my-clas',
                    style: 'width: 500px'
                },
                {
                    name: 'last_name',
                    required: true,
                    label: 'Apellidos',
                    align: 'left',
                    field: 'last_name',
                    sortable: true,
                    classes: 'my-clas',
                    style: 'width: 500px'
                },
                {
                    name: 'amount',
                    required: true,
                    label: 'Monto',
                    align: 'left',
                    field: 'amount',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                {
                    name: 'type',
                    required: true,
                    label: 'Tipo',
                    align: 'left',
                    field: 'type',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                {
                    name: 'mail',
                    required: true,
                    label: 'Correo',
                    align: 'left',
                    field: 'mail',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                {
                    name: 'phone',
                    required: true,
                    label: 'Telefono',
                    align: 'left',
                    field: 'phone',
                    sortable: true,
                    classes: 'my-clas',
                    style: 'width: 500px'
                },
                {
                    name: 'description',
                    required: true,
                    label: 'Comentarios',
                    align: 'left',
                    field: 'description',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                {
                    name: 'state',
                    required: true,
                    label: 'Estado',
                    align: 'left',
                    field: 'state',
                    sortable: true,
                    classes: 'my-clas',
                    style: 'width: 500px'
                },
                {
                    name: 'actions',
                    required: true,
                    label: 'Acciones',
                    align: 'left',
                    field: 'actions',
                    sortable: false,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
              

            ],
            filter: '',
            loading : true,
            stateItems:[],
            state:'PENDIENTE'

        }
    },
    methods: {
        getData() {
            var requestBody = {
                "sp": "sp_getRequestAmountUsers",
                "model": {
                    "id_school":window.localStorage.getItem("ID_SCHOOL"),
                    "state": this.state
                }
            }
            this.$q.loading.show()
            this.loading = true
            this.$root.sendData(requestBody).then((result) => {
                this.$q.loading.hide()
                this.loading = false
                this.data = result.data.data
                console.log(JSON.stringify(this.data))
                
            }).catch((error) => {
                notifyMessage.showNotifyErrorSrv(this.$q)
                this.$q.loading.hide()
               this.loading = false
            });
        },
        approveRequest(id){
            this.$root.$emit("OPEN_REQUEST_TRAY", id)
        },
        rejectRequest(id){
            this.$root.$emit("OPEN_REQUEST_TRAY", id)
        },
    },
    mounted() {
        this.$root.$emit("SET_APP_SUBTITLE", "Bandeja solicitudes ingreso saldo")
        window.localStorage.setItem("CURRENT_EVENT","GET_DATA_REQUEST_TRAY")
        var requestBody = {
                "sp": "sp_load_select_items",
                "model": {option:'state_request_tray'}
            }
        this.$q.loading.show()
        this.$root.sendData(requestBody).then((result) => {
            this.$q.loading.hide()
            this.stateItems = result.data.data;
        }).catch((error) => {
            notifyMessage.showNotifyErrorSrv(this.$q)
            this.$q.loading.hide()
        });
        this.$root.$on("GET_DATA_REQUEST_TRAY", () => {
            this.getData()
        })
    },
    computed: {

    },

}
</script>

<style scope="local">
.q-table-top .q-table-control{
    width: 100%;
    padding: 0px
}
</style>