<template>
  <div class='demo-app'>
    <div class='demo-app-top'>
    
    </div>
    <FullCalendar
      class='demo-app-calendar'
      ref="fullCalendar"
      defaultView="dayGridMonth"
      :header="{
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
      }"
      :customButtons="{
                prev: {
                    text: 'custom prev !',
                    click: prevButton
                },
                next: {
                    text: 'custom ext!',
                    click: nextButton
                },
            }"
      :plugins="calendarPlugins"
      :weekends="false"
      :events="calendarEvents"
      @eventClick="handleEventClick"
      @dateClick="handleDateClick"
      />
      <event/>
  </div>
  
</template>

<script>
import FullCalendar from '@fullcalendar/vue'
import dayGridPlugin from '@fullcalendar/daygrid'
import timeGridPlugin from '@fullcalendar/timegrid'
import interactionPlugin from '@fullcalendar/interaction'
import Event from './Event'
export default {
  components: {
    Event,
    FullCalendar // make the <FullCalendar> tag available
  },
  data: function() {
    return {
      calendarPlugins: [ // plugins must be defined in the JS
        dayGridPlugin,
        timeGridPlugin,
        interactionPlugin // needed for dateClick
      ],
      calendarWeekends: true,
      calendarEvents: [ // initial event data
        //{ title: 'Event Now', start: new Date(), id:100 }
      ],calendarApi:null
    }
  },
  mounted(){
        this.$root.$emit("SET_APP_SUBTITLE", "Calendarizacion de Menus")
        this.$root.$on("GET_DATA_CALENDAR_MENU", () => {
            this.getData()
        })
        window.localStorage.setItem("CURRENT_EVENT","GET_DATA_CALENDAR_MENU")
        this.calendarApi = this.$refs.fullCalendar.getApi();
      
        this.getData();
  },
  methods: {
    prevButton(){
      this.getData();
      this.calendarApi.prev();

     
    },
    nextButton(){
     
     this.calendarApi.next();
     this.getData();
    },
    getData() {
      var requestBody = {
          "sp": "get_menu_month",
          "model": {
              date:this.calendarApi.getDate(),
              id_school: window.localStorage.getItem("ID_SCHOOL")
          }
      }
      this.$q.loading.show()
      this.loading = true
      this.$root.sendData(requestBody).then((result) => {
          this.$q.loading.hide()
          this.loading = false
          this.calendarEvents = result.data.data
          console.log(result)
      }).catch((error) => {
          notifyMessage.showNotifyErrorSrv(this.$q)
            this.$q.loading.hide()
          this.loading = false
      });
    },
    toggleWeekends() {
      this.calendarWeekends = !this.calendarWeekends // update a property
    },
   
    handleEventClick(arg){

      this.$root.$emit("OPEN_MENU_DAILY",arg.event.id,arg.event.start)

      console.log(arg.event)
    },
    handleDateClick(arg) {
      console.log(arg)
      this.$root.$emit("OPEN_MENU_DAILY", null,arg.date)
    }
  }
}
</script>

<style >

@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';
.demo-app {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}
.demo-app-top {
  margin: 0 0 3em;
}
.demo-app-calendar {
  margin: 0 auto;
  max-width: 900px;
}
.fc-event-container{
  cursor: pointer;
}
</style>