<template>
<q-modal v-model="openedModal" minimized @hide="closeModal"  :content-css="{maxWidth: '100vw'}">
    <q-toolbar color="indigo">
        <q-btn flat round dense v-close-overlay icon="close" />
        <q-toolbar-title>
            {{operation}}
        </q-toolbar-title>
        <q-btn    color="red"  label="Eliminar" v-if="id_menu_daily" icon-right="delete" :loading="loading" :disabled="!!loading"  @click="removeData" />
         <q-btn    color="positive"  label="Guardar" icon-right="save" :loading="loading" :disabled="!!loading"  @click="saveData" />
    </q-toolbar>
    <div>
        <q-layout class="">
            <div class="layout-padding">
                <div class="content ">
                    <form id="form-signup">
                        <div class="row">
                             <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12  rowChild">
                                <q-field>
                                    <q-select
                                    float-label="Categoría"
                                    v-model="id_category"
                                    :options="categoryItems"
                                    filter-placeholder = "Búsqueda"
                                    @input="loadMenu()"
                                    filter
                                    :error="$v.id_category.$error"
                                    separator
                                   />
                                </q-field>
                            </div>
                             <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12  rowChild">
                                <q-field>
                                    <q-select
                                    float-label="Menú"
                                    v-model="id_menu"
                                    :options="menuItems"
                                    filter-placeholder = "Búsqueda"
                                    filter
                                    separator
                                     :error="$v.id_menu.$error"
                                   />
                                  
                                </q-field>
                            </div>
                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 q-mt-md rowChild">
                                <q-field>
                                    <b>{{menu_description}}</b> 
                                </q-field>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </q-layout>
    </div>
</q-modal>
</template>

<script>
import {
    required,
    email,
    maxLength,
    minLength
} from 'vuelidate/lib/validators'
import * as notifyMessage from '../../script/notify'
import VMasker from 'vanilla-masker'
import {
    URL_BASE
} from '../../script/Constant'
import moment from 'moment'
export default {
    data() {
        return {
            loading:false,
            openedModal: false,
            operation: 'Menu del Dia',
            categoryItems:[],
            menuItems:[],
            id_menu:null,
            id_category:null,
            id_menu_daily:null,
            date_menu:null,
            menu_description:null,
        }
    },
    methods: {
        saveData() {
             this.$v.$touch()
            if (this.$v.$error) {
                notifyMessage.showNotify(this.$q, 0, "Por favor revise los campos de nuevo")
                return;
            }
           
            var model ={
                id_menu_daily: this.id_menu_daily,
                id_school: window.localStorage.getItem("ID_SCHOOL"),
                id_menu: this.id_menu,
                date_menu: this.date_menu,
                id_user_create: window.localStorage.getItem("USER_ID"),
                id_user_update: window.localStorage.getItem("USER_ID"),
            }
            this.$q.loading.show()
            var requestBody = {
                "sp": "sp_insUpdMenu_daily",
                "model": model
            }
            this.$q.loading.show()
            this.loading = true;
            this.$root.sendData(requestBody).then((result) => {

                let message = result.data.data[0].Message
                let statusResponse = result.data.data[0].Result
                let code = result.data.code;
                this.loading = false;
                if (code == 200) {
                    if (statusResponse == 'Success') {
                        notifyMessage.showNotify(this.$q, code, message)
                        this.$q.loading.hide()
                    } else {
                        this.$q.loading.hide()
                        notifyMessage.showNotify(this.$q, 0, message)

                    }
                    this.openedModal = !this.openedModal
                    this.$root.$emit("GET_DATA_CALENDAR_MENU")
                }
            }).catch((error) => {
                notifyMessage.showNotifyErrorSrv(this.$q)
                this.$q.loading.hide()
                this.loading = false;
            });
        },
        removeData(){
            this.$q.loading.show()
            var requestBody = {
                "sp": "sp_delMenuDaily",
                "model": {
                    id_menu_daily: this.id_menu_daily,
                }
            }
            this.$q.loading.show()
            this.loading = true;
            this.$root.sendData(requestBody).then((result) => {

                let message = result.data.data[0].Message
                let statusResponse = result.data.data[0].Result
                let code = result.data.code;
                this.loading = false;
                if (code == 200) {
                    if (statusResponse == 'Success') {
                        notifyMessage.showNotify(this.$q, code, message)
                        this.$q.loading.hide()
                    } else {
                        this.$q.loading.hide()
                        notifyMessage.showNotify(this.$q, 0, message)

                    }
                    this.openedModal = !this.openedModal
                    this.$root.$emit("GET_DATA_CALENDAR_MENU")
                }
            }).catch((error) => {
                notifyMessage.showNotifyErrorSrv(this.$q)
                this.$q.loading.hide()
                this.loading = false;
            });
        },
        getDataByid(id) {
            
            let model = {
                "id_menu_daily": id,
                 "id_school": window.localStorage.getItem("ID_SCHOOL")
            }
            var requestBody = {
                "sp": "sp_getMenuDaily",
                "model": model
            }
            this.$q.loading.show()
            this.$root.sendData(requestBody).then((result) => {
                this.$q.loading.hide()
                this.id_category = result.data.data[0].id_category;
                this.loadMenu();
                this.id_menu = result.data.data[0].id_menu;
                this.menu_description =result.data.data[0].menu_description;

            }).catch((error) => {
                notifyMessage.showNotifyErrorSrv(this.$q)
                this.$q.loading.hide()
                console.log(error)
                
            });
        },
        loadSelect() {
            var requestBody = {
                "sp": "sp_load_select_items",
                "model": {option:'category'}
            }
            this.$q.loading.show()
            this.$root.sendData(requestBody).then((result) => {
                this.$q.loading.hide()
                this.categoryItems = result.data.data;
            }).catch((error) => {
                notifyMessage.showNotifyErrorSrv(this.$q)
                this.$q.loading.hide()
            });
            
        },
        loadMenu(){
            var requestBody = {
                "sp": "sp_load_select_items",
                "model": {
                    option:'menu_category',
                    id:this.id_category
                }
            }
            this.$root.sendData(requestBody).then((result) => {
                this.$q.loading.hide()
                this.menuItems = result.data.data;
            }).catch((error) => {
                notifyMessage.showNotifyErrorSrv(this.$q)
                this.$q.loading.hide()
            });
        },
        registerModal() {
            // this.$router.push('Register')

            this.openedRegister = true

        },
        closeModal(){
            this.id_menu=null;
            this.date_menu = null;
            
        }
 

    },
    validations: {
        
            id_category: {
                required
            },
            id_menu: {
                required
            },
          

        
    },
    mounted() {
        
        this.$root.$on('OPEN_MENU_DAILY', (id,date) => {
             this.$v.$reset(); 
            this.date_menu = date;
            this.id_menu_daily = id;
            //this.$v.$reset(); 
            this.loadSelect();
            this.openedModal = !this.openedModal
            console.log(id)
            if (id != null) {
                this.operation = 'Editar Menu del dia ' + moment(this.date_menu).format("DD/MM/YYYY")
                this.getDataByid(id)
            } else {
                this.operation = 'Nuevo Menu del dia ' + moment(this.date_menu).format("DD/MM/YYYY")
                this.id_category = null;
                this.id_menu=null
                this.menu_description = null;

            }

        })

    },

}
</script>

<style>
.container-name-son {
    display: inline-block;

}

.pull-right {
    float: right !important;
}

.photo-camera {
    width: 30px;
    height: 30px;
}

.container-input-name {
    width: 100%
}

.container-picture {
    display: inline-flex;
    width: 100%;
    flex-wrap: nowrap;
}
</style>
