<template>
  <q-layout view="lHh Lpr lFf">
    <q-layout-header>
      <q-toolbar >
        <q-layout >
          
            <form id="form-signup">
              <div class="row">

                <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1 ">
                  <q-field>
                    <q-btn flat
                           dense
                           round
                           @click="leftDrawerOpen = !leftDrawerOpen"
                           aria-label="Menu">
                      <q-icon name="menu" />
                    </q-btn>
                  </q-field>
                </div>

                <div class="col-sm-10 col-xs-10 col-md-3 col-lg-5 ">
                  <q-field>
                      <q-toolbar-title>
                         {{appTitle}}
                        <span slot="subtitle">
                             <h5>{{appSubtitle}}</h5>
                        </span>
                    </q-toolbar-title>
                  </q-field>
                </div>
                
                <div class="col-sm-10 col-xs-10 col-md-7 col-lg-5 ">
                  
                    <q-select float-label="Colegio"
                              v-model="id_school"
                              :options="schoolItems"
                              inverted-light
                              color="white"
                              @input="setSchool"
                              :disable="id_profile==1?false:true"
                              rightTextColor="black"
                               />
                  
                </div>
                 <div class="col-sm-2 col-xs-2 col-md-1 col-lg-1">
                    <div class="row">
                        <div class="col-xs-6">
                            <q-btn flat
                                size="21px"
                                class="q-mt-sm"
                                @click="toggleFullscreen()"
                                :icon="$q.fullscreen.isActive ? 'fullscreen_exit' : 'fullscreen'" />
                            </div>
                        <div class="col-xs-6">
                            <q-btn flat
                                size="21px"
                                class="q-mt-sm"
                                @click="logout()"
                                icon="exit_to_app" />
                            </div>
                        </div>
                </div>
                
              </div>
            </form>
     
        </q-layout>

        
      </q-toolbar>
    </q-layout-header>
    <!-- <q-layout-drawer  reveal v-model="drawer" class="drawer" > -->
    <q-layout-drawer v-model="leftDrawerOpen">
      <!-- :content-class="$q.theme === 'mat' ? 'drawer' : null"          -->
      <!-- sidebar: style can be found in sidebar.less -->
      <section>
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel ">
          <img src="statics/img/Logo_min.png"
               alt=""
               class="image-drawer">
        </div>
        <!-- <q-collapsible dark group="somegroup" :avatar="imageUrl" :label="displayName" label-lines="1" sublabel-lines="1" :sublabel="email" class="color-white mar-top-15" >

  </q-collapsible>
  -->
        <!-- Sidebar Menu -->
        <sidebar-menu />
        <!-- /.sidebar-menu -->
      </section>
      <!-- /.sidebar -->

    </q-layout-drawer>

    <q-page-container>

      <router-view />

    </q-page-container>
  </q-layout>
</template>

<script>
import menu from "../../router/menu";
import SidebarMenu from "./SidebarMenu";
export default {
  name: "app-drawer",
  components: {
    SidebarMenu
  },
  data() {
    return {
      appTitle:"Eat Go Admin System",
      appSubtitle:"",
      drawer: true,
      menus: menu,
      displayName: "The",
      email: "",
      imageUrl: "",
      leftDrawerOpen: this.$q.platform.is.desktop,
      schoolItems: [],
      id_school: null,
      id_profile:null
     
    };
  },
  methods: {
    toggleFullscreen() {
      this.$q.fullscreen.toggle();
    },
    logout(){
      window.localStorage.clear()
       this.$router.push('Login')      
    },
    setSchool(){
     var currentEvent = window.localStorage.getItem("CURRENT_EVENT")
     window.localStorage.setItem("ID_SCHOOL", Number(this.id_school));
     this.$root.$emit("SET_APP_SUBTITLE", "Administración de Menús")
     this.$root.$emit(currentEvent);
     
    }
  },
  created() {
      console.log(this.$q.platform)
    //window.localStorage.setItem("USER_INFO", this.userInfo.email);
    // alert("hello")
  },
  mounted() {
  
    this.email = window.localStorage.getItem("USER_EMAIL");
    this.displayName = window.localStorage.getItem("USER_DISPLAY_NAME");
    this.id_profile = Number(window.localStorage.getItem("ID_PROFILE"));
    console.log("this.id_profile ", this.id_profile )
    if (!window.localStorage.getItem("USER_IMAGE_URL")) {
      this.imageUrl = "statics/svg/user.svg";
    } else {
      this.imageUrl = window.localStorage.getItem("USER_IMAGE_URL");
    }
    this.$root.$on("APP_DRAWER_TOGGLED", () => (this.drawer = !this.drawer));
    this.$root.$on("SET_APP_SUBTITLE", (subtitle) => {
        this.appSubtitle = subtitle;
      
    });
    var requestBody = {
                "sp": "sp_load_select_items",
                "model": {option:'school'}
            }
    this.$root.sendData(requestBody).then((result) => {
        this.$q.loading.hide()
        this.schoolItems = result.data.data;
        this.id_school = Number(window.localStorage.getItem("ID_SCHOOL"))
    }).catch((error) => {
        notifyMessage.showNotifyErrorSrv(this.$q)
        this.$q.loading.hide()
    });
    //this.$root.$on("USER_INFO", (user)=> {this.userInfo = user ; this.displayName = user.displayName; alert(this.displayName)});
  }
};
</script>

<style>
.image-drawer {
  width: 100px;
  display: flex;
  z-index: 100;
  margin: auto;
  margin-top: 15px;
}
.my-inverted .q-if-inner select {
  color: black !important;
}
</style>
