<template>
<ul>

    <q-list v-for="(item, index) in menus" :key="index" class="no-border">
        <q-item :to="item.component" class="no-border" @click.native="component(item.component)">
            <q-item-side :icon="item.icon" class="selected" />
            <q-item-main :label="item.title">
            </q-item-main>
        </q-item>
    </q-list>

</ul>
</template>

<script>
import menu from '../../router/menu'
export default {
    name: 'SidebarMenu',
    data() {
        return {
            menus: menu
        }
    },
    methods: {
        component(component) {
            if (component == 'Login') {
                window.localStorage.clear()

                window.plugins.googleplus.logout(
                    function (msg) {

                        window.localStorage.clear()
                    }
                );
            }
        }
    },
}
</script>

<style>
/* override default */
</style>
