<template>
<transition name="slide-fade">
    <q-layout class="">
        <q-table title="Usuarios" :data="data" :loading="loading" color="primary" :pagination="pagination" :columns="columns" :filter="filter" row-key="name">
            <q-tr slot="body" slot-scope="props" :props="props">
                <q-td key="id_request_print" >{{ props.row.id_request_print }}</q-td>
                <q-td key="name_son" >{{ props.row.name_son }}</q-td>
                <q-td key="grade_name" >{{ props.row.grade_name }}</q-td>
                <q-td key="section_name" >{{ props.row.section_name }}</q-td>
                <q-td key="price" >{{ props.row.price }}</q-td>
                <q-td key="request_type" >{{ props.row.request_type }}</q-td>
                <q-td key="date_create" >{{  moment(props.row.date_create ).format('DD/MM/YYYY HH:MM') }}</q-td>
                <q-td key="date_process" >{{ props.row.date_process? moment(props.row.date_process ).format('DD/MM/YYYY HH:MM') :'' }}</q-td>
                <q-td key="state" > 
                    <q-icon v-if="props.row.state=='IMPRESO'" name="check_circle" color="green" size="24px"> 
                        <q-tooltip> {{props.row.state}} </q-tooltip>
                    </q-icon>
                     <q-icon v-else-if="props.row.state=='PENDIENTE'" name="notification_important" color="orange" size="24px"> 
                        <q-tooltip> {{props.row.state}} </q-tooltip>
                    </q-icon>
                </q-td>
                <q-td label="Acciones">
                    <q-btn color="primary" flat @click="downloadQR(props.row)">
                       <q-icon name="cloud_download" />
                       <q-tooltip> Descargar Imagen QR </q-tooltip>
                    </q-btn>
                   
                </q-td>
            </q-tr>
            <template slot="top-left" slot-scope="props">
                <q-layout>
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4  rowChild">
                            <q-field>
                            <q-search float-label="Buscar"
                                        color="secondary"
                                        v-model="filter" />
                            </q-field>
                        </div>
                        <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4  rowChild">
                            <q-field>
                            <q-select float-label="Estado"
                                        v-model="state"
                                        :options="stateItems"
                                        filter-placeholder="Búsqueda"
                                        filter
                                        @input="getData()"
                                        clearable
                                        separator />
                            </q-field>
                        </div>
                        <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3 q-mt-md  rowChild">
                             <q-btn color="positive"  label="Descargar Todo" icon-right="cloud_download" :loading="loading" :disabled="!!loading" @click="downloadQrAll()" />
                          
                        </div>
                         <div class="col-sm-12 col-xs-12 col-md-1 col-lg-1  rowChild">
                            <q-btn  size="20px" class="q-mt-sm" flat round dense :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'" @click="downloadQrAll()" />
                        </div>
                    </div>
                </q-layout>
            </template>
        </q-table>
        <!-- Non-expandable without being on a QLayout -->
      
  </q-layout>

</transition>
</template>

<script>
import * as notifyMessage from '../../script/notify'
import QRious from 'QRious'

export default {
    components: {
        
    },
    created() {
        this.getData()
    },
    data() {
        return {
            data: [],
            pagination: {
            sortBy: null, // String, column "name" property value
            descending: false,
            page: 1,
            rowsPerPage: 20 // current rows per page being displayed
            },
            columns: [{
                    name: 'id_request_print',
                    required: true,
                    label: 'Solicitud',
                    align: 'left',
                    field: 'id_request_print',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                 {
                    name: 'name_son',
                    required: true,
                    label: 'Alumno',
                    align: 'left',
                    field: 'name_son',
                    sortable: true,
                    classes: 'my-clas',
                    style: 'width: 500px'
                },
              
                {
                    name: 'grade_name',
                    required: true,
                    label: 'Grado',
                    align: 'left',
                    field: 'grade_name',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
               
                {
                    name: 'section_name',
                    required: true,
                    label: 'Sección',
                    align: 'left',
                    field: 'section_name',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                {
                    name: 'price',
                    required: true,
                    label: 'Costo',
                    align: 'left',
                    field: 'price',
                    sortable: true,
                    classes: 'my-clas',
                    style: 'width: 500px'
                },
                {
                    name: 'request_type',
                    required: true,
                    label: 'Tipo Solicitud',
                    align: 'left',
                    field: 'request_type',
                    sortable: true,
                    classes: 'my-clas',
                    style: 'width: 500px'
                },
                {
                    name: 'date_create',
                    required: true,
                    label: 'Fecha Solicitud',
                    align: 'left',
                    field: 'date_create',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                 {
                    name: 'date_process',
                    required: true,
                    label: 'Fec. Descarga QR',
                    align: 'left',
                    field: 'date_process',
                    sortable: true,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
                {
                    name: 'state',
                    required: true,
                    label: 'Estado',
                    align: 'left',
                    field: 'state',
                    sortable: true,
                    classes: 'my-clas',
                    style: 'width: 500px'
                },
                {
                    name: 'actions',
                    required: true,
                    label: 'Descarga QR',
                    align: 'left',
                    field: 'actions',
                    sortable: false,
                    classes: 'my-class',
                    style: 'width: 500px'
                },
              

            ],
            filter: '',
            loading : true,
            stateItems:[],
            state:'PENDIENTE'

        }
    },
    methods: {
        getData() {
            var requestBody = {
                "sp": "sp_getRequestQrPrint",
                "model": {
                    "id_school":window.localStorage.getItem("ID_SCHOOL"),
                    "state": this.state
                }
            }
            this.$q.loading.show()
            this.loading = true
            this.$root.sendData(requestBody).then((result) => {
                this.$q.loading.hide()
                this.loading = false
                this.data = result.data.data
                console.log(JSON.stringify(this.data))
                
            }).catch((error) => {
                notifyMessage.showNotifyErrorSrv(this.$q)
                this.$q.loading.hide()
               this.loading = false
            });
        },
        approveRequest(id){
            this.$root.$emit("OPEN_REQUEST_TRAY", id)
        },
        rejectRequest(id){
            this.$root.$emit("OPEN_REQUEST_TRAY", id)
        },
        downloadQrAll(){

            this.data.forEach((item) => {
               this.downloadQR(item)
            });
            this.getData();
        },
        downloadQR(item){
            var qr = new QRious({
                value: 'CARD:'+item.id_card,
                size: 1000,
            });
            this.updateQRStatus(item.id_request_print)
            var img = qr.toDataURL();
            var ext = img.split(';')[0].match(/jpeg|png|gif/)[0];
            
            var data = img.replace(/^data:image\/\w+;base64,/, "");
         
            var element = document.createElement('a');
            element.setAttribute('href', img);
            element.setAttribute('download', item.name_son + '_' + item.grade_name+ '_'+item.section_name);
            element.style.display = 'none';
            document.body.appendChild(element);
            element.click();
            document.body.removeChild(element);
            this.getData();

        },
        updateQRStatus(id_request_print){
              var requestBody = {
                "sp": "sp_processRequestQrPrint",
                "model": {
                    "id_request_print":id_request_print
                }
            }
            this.$q.loading.show()
            this.loading = true
            this.$root.sendData(requestBody).then((result) => {
                this.$q.loading.hide()
                this.loading = false
              
            }).catch((error) => {
                notifyMessage.showNotifyErrorSrv(this.$q)
                this.$q.loading.hide()
                this.loading = false
            });
        },

    },
    mounted() {
        this.$root.$emit("SET_APP_SUBTITLE", "Bandeja Impresiones QR")
        window.localStorage.setItem("CURRENT_EVENT","GET_DATA_REQUEST_QR_PRINT")
        var requestBody = {
                "sp": "sp_load_select_items",
                "model": {option:'state_request_qr_print'}
            }
        this.$q.loading.show()
        this.$root.sendData(requestBody).then((result) => {
            this.$q.loading.hide()
            this.stateItems = result.data.data;
        }).catch((error) => {
            notifyMessage.showNotifyErrorSrv(this.$q)
            this.$q.loading.hide()
        });
        this.$root.$on("GET_DATA_REQUEST_QR_PRINT", () => {
            this.getData()
        })
    },
    computed: {

    },

}
</script>

<style scope="local">
.q-table-top .q-table-control{
    width: 100%;
    padding: 0px
}
</style>