
body{
  background: #f5f5f5;

}
.color-indigo
  background: #3F51B5 !important

.sidebar-menu .pageLink > a{
  text-decoration: none;
  padding:  14px 15px 14px 15px;

  }


  .sidebar-menu{
    height: 100%;  

  }

.bg-white
    background: #fffffff
.display-block
    display: inline-block
.skin-blue .user-panel > .info{
  padding-top: 15px
  position: absolute;
  top : 0px;
  
  }
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
 
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(50px);
  opacity: 0;
}
.center{
  text-align: center;
  display: block;
}
.titleComponent{
  text-align: center;
  display: block;
  font-size: 30px;
}
.rowChild{
    padding-left: 15px;
    padding-right: 15px;
}

.q-layout{
  min-height :100%;  
  
}

.toolbar{
    padding:12px 15px !important
    background:  #1867c0 !important
}
.avatarSlide{
  display: inline-block;
  width: 150px;
}
.text-success{
  color: green 
  
  }

// Card
.icon-big
    position absolute
    right 20px
    width: 70px
    height 70px
    top 10px
  
.icon-xl
  width: 90px
  height 90px
.q-card
  position relative
 
  background: #ffffff

.q-item-label
    position relative
    max-height: 1.2em;
    overflow hidden

.user-login
  width: 180px;
  height 200px;
  display: block
  margin: auto
  padding 15px 0px
  
.container-row
  background: #ffffff 

//STYLE CALENDAR
.current-time-line
  display: none !important

.calendar-multi-day-component .calendar-time-margin {
   margin-left: 0px !important; 
   
}
.calendar-day-labels
  text-align: center

.q-tab-pane{
  margin-top: 15px;
  padding: 0px !important;
  
}

.q-card{
  margin-top: 15px
}
.display-none
  display: none !important
  background: red

.end-items
  float: right 
.pad-top-10
  padding-top: 10px

.pad-top-15
  padding-top: 15px

.mar-top-10
  margin-top: 10px

.mar-top-15
  margin-top: 15px

.align-center
  text-align: center
.mar-bottom-10
  margin-bottom: 10px
.mar-bottom-15
  margin-bottom: 15px


.text-10px
  font-size: 10px !important

.q-item-icon
  font-size: 18px

.no-border
  border: none !important

.fab
  height 48px
  width 48px

.mar-rigth-10
  margin-right: 10px
.mar-top-4
  margin-top: 6px
.mar-left-15
  margin-left: 1px
.mar-left-5
  margin-left: 5px
.title-card
  margin-bottom: 0px
  margin-top 10px 

.label-upload{
        padding: 9px 13px;
        color: white;
        text-transform: uppercase;
        background: #3f51b5;
        cursor: pointer; 
        border-radius: 5px;
        position relative;
        font-size: .8em;
        top: 30px;
        
}
.btn-upload{
  visibility hidden


}
.upload-image {
  max-height: 200px;
  
}
.container-img-menu {
    margin-top: 20px;
    position: relative;
    height: 200px;
    max-height: 200px;
    
    display: flex;
    align-items: center;
    justify-content: center
}
.img-menu {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    display: flex;
    align-items: center
}
/* For medium devices (e.g. tablets) */
@media (min-width: 420px) {
  .upload-image {
    max-width: 48%;
  }
}
/* For large devices (e.g. desktops) */
@media (min-width: 760px) {
  .upload-image {
    max-width: 200px;
  }
}