.md-card{
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 25px 0;
    overflow: unset;
    background: #ffffff ;


    .card-height-indicator {
        margin-top: 100%;
    }

    &.row-space{
        .header{
            padding: 15px 20px 0;
        }
    }

    .title{
        font-size: 19px;
        margin-top: 0;
        margin-bottom: 5px;
    }
    .card-image {
        height: 60%;
        position: relative;
        overflow: hidden;

        margin-left: 15px;
        margin-right: 15px;
        margin-top: -30px;
        border-radius: 20px;

        img {
            width: 100%;
            height: 100%;
            border-radius: 20px;
            pointer-events: none;
        }
        .card-title {
            position: absolute;
            bottom: 15px;
            left: 15px;
            color: #222222;
            font-size: 17px;
            text-shadow: 0 2px 5px rgba(33, 33, 33, 0.5);
        }
    }

    .category:not([class*="text-"]){
        color: #aaaaaa;
    }
    .md-card-content{
        padding: 15px 20px;

        .category{
            margin: 0;
        }
    }

    .md-card-header{
      
        margin: -20px 13px 0;
        border-radius: 6px;
        padding: 12px;
       
        
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    border-radius: 10px;
    color:18px;
    background: linear-gradient(60deg,#66bb6a,#43a047);

    box-shadow: 0 12px 20px -10px rgba(76,175,80,.28), 0 4px 20px 0 rgba(0,0,0,.12), 0 7px 8px -5px rgba(76,175,80,.2);


        .title{
            font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: 300 !important;
            color: #ffffff;
        }
        .category{
            margin: 0;
            color: rgba(#ffffff, .62);
        }

        a{
          color: #ffffff !important;
        }

        &.card-chart{
            padding: 0;
            min-height: 160px;

            + .content{
                h4{
                    margin-top: 0;
                }
            }
        }

        .ct-label{
            color: rgba(#ffffff, .7);
        }
        .ct-grid{
            stroke: rgba(255, 255, 255, 0.2);
        }
        .ct-series-a .ct-point,
        .ct-series-a .ct-line,
        .ct-series-a .ct-bar,
        .ct-series-a .ct-slice-donut{
            stroke: rgba(255,255,255,.8);
        }
        .ct-series-a .ct-slice-pie,
        .ct-series-a .ct-area{
            fill: rgba(255,255,255,.4);
        }

    }

    .chart-title{
        position: absolute;;
        top: 25px;
        width: 100%;
        text-align: center;

        h3{
            margin: 0;
            color: #ffffff;
        }

        h6{
            margin: 0;
            color: rgba(255,255,255, .4);
        }

    }

    .md-card-actions{
        margin: 0 20px 10px;
        padding: 10px 0 0 0;
        border-top: 1px solid #eeeeee;

        .content{
            display: block;
        }

        div{
            display: inline-block;
        }
        .author{
            color: #aaaaaa;
        }
        .stats{
            line-height: 22px;
            color: #aaaaaa;
            font-size: 15px;

            .md-icon.md-theme-default.md-icon-font{
                position: relative;
                top: -1px;
                font-size:15px + 2 !important;
                color: #aaaaaa;
            }
        }

        h6{
            color: #aaaaaa;
        }

    }

    img{
        width: 100%;
        height: auto;
    }

    .category{
        .md-icon{
            position: relative;
            top: 6px;
            line-height: 0;
        }
    }

    .category-social{
        .fa{
            font-size: 24px;
            position: relative;
            margin-top: -4px;
            top: 2px;
            margin-right: 5px;
        }
    }

    .author{
        .avatar{
            width: 30px;
            height: 30px;
            overflow: hidden;
            border-radius: 50%;
            margin-right: 5px;
        }

        a{
            color: #222222;
            text-decoration: none;

            .ripple-container{
                display: none;
            }
        }
    }

    .table{
        margin-bottom: 0;

        tr:first-child td{
            border-top: none;
        }
    }

   
}