
.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;  
}

.container-login100::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,.95);
  /* background-image: linear-gradient(to right, rgba(67,233,123,.6) 0%, rgba(56,249,215,.3) 100%); */
  background-image: linear-gradient( 128.1deg,  rgba(36,242,170,.7) 12.4%, rgba(18,245,71,0.5) 62.4% );

}

.wrap-login100 {
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  padding: 55px 55px 37px 55px;

  
  background: #fff;
  /* background-image: linear-gradient( 128.1deg,  rgba(36,242,170,.3) 12.4%, rgba(18,245,71,.2) 62.4% ); */
}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
}


.container-logo{
		text-align: center
	}
.logo{
    height: 120px;
  
		
}
.login100-form-title {
    font-size: 30px;
    color: #444;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    display: block;

}
.p-b-34 {
    padding-bottom: 34px;
}
.p-t-27 {
    padding-top: 27px;
}
.btn-login{
  margin-top: 50px;
  margin-bottom: 60px;
}
.container-input{
  margin-top: 25px;
}
@media (max-width: 576px) {
  .wrap-login100 {
    padding: 55px 5px 37px 5px;
  }
}
