<template >
    <transition name="slide-fade">
        <q-layout>
              <q-layout  class="container-login">
            <div id="back">
                <canvas id="canvas" class="canvas-back"></canvas>
                <div class="backRight"></div>
                <div class="backLeft"></div>
            </div>
            <div id="slideBox" v-bind:class="{marginRigth: right}">
                <div class="topLayer" v-bind:class="{ marginRigth2: right }">
                    <div class="right">
                        <div class="content center">
                            <img src="statics/svg/lock.svg" alt="Iniciar Sesion" class="img-login">
                                <form class="form-login" method="post" onsubmit="return false;">
                                    <div class="container-input">
                                        <q-input 
                                                class="input-light" 
                                                v-model="login.username"
                                                @blur="$v.login.username.$touch"
                                                @keyup.enter="submitLogin"
                                                :error="$v.login.username.$error"
                                                float-label="Usuario"/>
                                    </div>
                                    <div class="container-input">
                                        <q-input 
                                    class="input-light"
                                            v-model="login.password"
                                            @blur="$v.login.password.$touch"
                                            @keyup.enter="submitLogin"
                                            :error="$v.login.password.$error"
                                            float-label="Constraseña" type="password" />
                                    </div>
                                    <div class="">
                                      
                                        <q-btn color="indigo" label="Iniciar Sesion"  class="mar-bottom-10" @click="submitLogin">
                                            
                                        </q-btn>
                                     
                                      
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal PIN -->
                <div>
                    <pin 
                     :is-oauth="isOauth"></pin>
                </div>
              
        </q-layout>
        <q-layout>
              
        </q-layout>
        </q-layout>
      
    </transition>
</template>
<script>
import { required, email ,maxLength, minLength} from 'vuelidate/lib/validators'
import Pin from './Pin'
import * as notifyMessage  from '../../script/notify'


export default {

    components:{
        Pin,
    
    },
    data() {
        return {
                
    
                // ----------------------------------------------------------------------
            userInfo :{
                accessToken: '',
                displayName : '',
                mail : '',
                familyName : '',
                givenName: '',
                imageUrl : '',
                userId: ''
            },
           
            //Login
             login: {
                username: '',
                password : ''
            },
            right : false,
            
            //Register
            register:{

                id_user : null,
                cod_user : null,
                username : null,
                password : null,
                first_name : '',
                last_name : '',
                mail : '',
                dpi : null,
                birth_day : null,
                phone : null,
                gender : null,
                pin  : '',
                url_picture : null,
                provider : null,
            },
          
            openedRegister : false,
            optionGenero : '',
            chkConditions : false,
            isOauth  : false

        

        }
    },
    validations: {
        login: {
            username: { required },
            password: { required },
        },
         register:{
                username :  { required },
                password :  { required },
                first_name : { required },
                last_name :  { required },
                mail :  { required, email },
                dpi  :  { 
                    required,
                    maxLength : maxLength(15) ,
                    minLength : minLength(15)
                 },
                birth_day :  { required },
                phone:  {
                    required,
                    maxLength : maxLength(9) ,
                    minLength : minLength(9)
                },
                gender : {required}

            },
    },
    methods: {
        userPins: function(numbers){
            this.register.pin = numbers
            console.log(numbers)
        },
        submitLogin() {
            //  this.$router.push('Home')
           
            this.$v.login.$touch()
            if(this.$v.login.$error){
              
                 notifyMessage.showNotifyError(this.$q,0, "Por favor revise los campos de nuevo")
                return
            }else{
                this.validUser()
            }
           
        },
        validUser(){
            this.$q.loading.show()
            var requestBody = {
                "sp" : "sp_selAuthentication",
                "model" : this.login
            }

            this.$root.sendData(requestBody).then((result)=>{
               
                let infoUser = result.data.data
                let code = result.data.code
                console.log(result)
                if(code  == 200){ 
                    if(infoUser.length == 0){
                        notifyMessage.showNotify(this.$q,0, "Usuario / contraseña incorrecta")  
                    } else{
                        let obj = result.data.data[0]
                        window.localStorage.setItem("USER_ID",obj.id_user);
                        window.localStorage.setItem("USER_DISPLAY_NAME",obj.username);
                        window.localStorage.setItem("USER_FAMILY_NAME",obj.last_name);
                        window.localStorage.setItem("USER_GIVEN_NAME",obj.first_name);
                        window.localStorage.setItem("USER_EMAIL",obj.mail);
                        this.$router.push('Home')
                    }          
                }
                 this.$q.loading.hide()

              
            }).catch((error)=> {

            window.plugins.googleplus.logout(
            function (msg) {

            })

            notifyMessage.showNotifyErrorSrv(this.$q)
            this.$q.loading.hide()     
            });
        },

    },
    mounted() {
        this.$root.$on('USER_PIN_NUMBERS', (numbers)=>{this.register.pin = numbers})
    },
    created() {
       
    
    },
}
</script>
<style scope>
@import url('../../css/Login.css');
.img-login{
  width: 120px;
  display: flex;
  align-self:center

  
}

</style>