<template>
<transition name="slide-fade">
    <div class="limiter">
        <div class="container-login100" style="background-image: url('statics/img/lechugas_min.jpg');">
            <div class="wrap-login100 shadow-4 ">
                <form class="login100-form validate-form ">
                    <div class="container-logo ">

                        <img src="statics/img/Logo_min.png" alt="" class="logo">

                    </div>

                        <span class="login100-form-title p-b-34 p-t-27">

                        BIENVENIDO

                        </span>
                        <div class="content center">

                            <div class="container-input">
                                <q-field icon="person">
                                    <q-input class="input-light"  v-model="login.username" @blur="$v.login.username.$touch" @keyup.enter="submitLogin" :error="$v.login.username.$error" float-label="Usuario" />
                                </q-field>
                            </div>
                            <div class="container-input">
                                <q-field icon="vpn_key">
                                    <q-input class="input-light"  v-model="login.password" @blur="$v.login.password.$touch" @keyup.enter="submitLogin" :error="$v.login.password.$error" float-label="Constraseña" type="password" />
                                </q-field>
                            </div>

                            <q-btn  label="Iniciar Sesion" color="primary"  class="btn-login " @click="submitLogin">

                            </q-btn>

                        </div>

                </form>
            </div>
        </div>
    </div>

</transition>
</template>

<script>
import {
    required,
    email,
    maxLength,
    minLength
} from 'vuelidate/lib/validators'

import * as notifyMessage from '../../script/notify'

export default {

    components: {
    

    },
    data() {
        return {

            login: {
                username: '',
                password: ''
            },

        }
    },
    validations: {
        login: {
            username: {
                required
            },
            password: {
                required
            },
        },

    },
    methods: {

        submitLogin() {

            this.$v.login.$touch()
            if (this.$v.login.$error) {

                notifyMessage.showNotifyError(this.$q, 0, "Por favor revise los campos de nuevo")
                return
            } else {
                this.validUser()
            }

        },
        validUser() {
            this.$q.loading.show()
            var requestBody = {
                "sp": "sp_selAuthenticationAdmin",
                "model": this.login
            }

            this.$root.sendData(requestBody).then((result) => {

                let infoUser = result.data.data
                let code = result.data.code
                console.log(result)
                if (code == 200) {
                    if (infoUser.length == 0) {
                        notifyMessage.showNotify(this.$q, 0, "Usuario / contraseña incorrecta")
                    } else {
                        let obj = result.data.data[0]
                        window.localStorage.setItem("USER_ID", obj.id_user);
                        window.localStorage.setItem("USER_DISPLAY_NAME", obj.username);
                        window.localStorage.setItem("USER_FAMILY_NAME", obj.last_name);
                        window.localStorage.setItem("USER_GIVEN_NAME", obj.first_name);
                        window.localStorage.setItem("USER_EMAIL", obj.mail);
                        window.localStorage.setItem("ID_SCHOOL", obj.id_school);
                        window.localStorage.setItem("ID_PROFILE", obj.id_profile);
                        this.$router.push('Home')
                    }
                }
                this.$q.loading.hide()

            }).catch((error) => {

                notifyMessage.showNotifyErrorSrv(this.$q)
                this.$q.loading.hide()
            });
        },

    },

}
</script>

<style>
@import url('../../css/Login.1.css');
</style>
