
<template>
<div id="q-app">

  <template v-if="$route.meta.public" >  
      <router-view  ></router-view>
     
  </template>
  <template v-else >
      <q-layout class="layout flex flex-center">
         <app-drawer></app-drawer>
      </q-layout>
  </template>

  </div>

</template>

<script>
import AppDrawer from './components/NavigationDrawer/AppDrawer'
import pullToRefresh from 'mobile-pull-to-refresh'
 
// Import the style you want
 
// Mater
export default {
  name: 'App',
  components : {
    AppDrawer

  },
  data() {
    return {
      drawer : false, 
     
    }
  },
  created() {


    if(window.localStorage.getItem("USER_ID")){
        this.$router.push('Home')
      
    }
   
  },
   computed: {
    
  },
  methods: {
  
  },
   mounted(){
     
  },
  watch:{
    $route (to, from){
      if(!window.localStorage.getItem("USER_ID")){
        this.$router.push('Login')        
      }
    },
   
} 

}
</script>

<style>

</style>
